<a href="https://colab.research.google.com/github/kittimaxz/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd # import ฟังก์ชัน pandas

In [2]:
from google.colab import drive # เชื่อม drive ของเรา ถ้าเชื่อมสำเร็จจะขึ้นคำว่าMounted at /content/drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import os # จัดการเกี่ยวกับไฟล์ต่างๆ ในโฟล์เดอร์

In [4]:
path = '/content/drive/My Drive/dataviz_2021_data' # ชี้ว่า data เราอยู่โฟล์เดอร์ไหน

In [5]:
data_file_path = os.path.join(path,'alldb.csv') # เอาที่อยู่ของไฟล์เชื่อมกับที่อยู่ของไฟล์เรา โดยกำหนดชื่่อไฟล์ที่เราต้องการ
data_alldb = pd.read_csv(data_file_path)

In [6]:
data_alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

In [7]:
data_file_path2 = os.path.join(path,'hospital_list.csv')
data_hospital = pd.read_csv(data_file_path2)

In [8]:
data_hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [9]:
new_alldb = data_alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey']]
new_alldb

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี

In [10]:
new_alldb.isnull().sum()

user            762
RowKey            1
date            554
phone             3
site             99
time            557
urine           253
ov              364
PartitionKey    185
dtype: int64

In [11]:
drop_alldb = new_alldb.dropna()
drop_alldb

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2,x001
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2,x001
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),3,xxx
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,2,yyy
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,2,zzz

In [12]:
removes = new_alldb.shape[0] - drop_alldb.shape[0]
print(f'size before drop = {new_alldb.shape[0]}')
print(f'size after drop = {drop_alldb.shape[0]}')
print(f'% from drop = {(removes/new_alldb.shape[0])*100}')

size before drop = 40035
size after drop = 38663
% from drop = 3.427001373797927

In [14]:
set(drop_alldb['site'])

{' 0502',
 '00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '043.1',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05079',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05087\n',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05250\n',
 '05251',
 '05252',
 '05253',
 '05254',
 '05255',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05350ยอ',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11111111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13777',
 '13777t',
 '13937',
 '13941',
 '13943',
 '13943\n\n',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '33333',
 '44902',
 '45972',
 '49741',
 '50210',
 '5271',
 '55555',
 '66666',
 '75757',
 '88888',
 '97255',
 '99795',
 '99999',
 'aaa',
 'bbb',
 'ccc',
 'eee',
 'fff',
 'ggg',
 'hhh',
 'iii',
 'jjj',
 'kkk',
 'lll',
 'mmm',
 'ppp',
 'qqq',
 'rrr',
 'sss',
 'test',
 'ttt',
 'uuu',
 'vvv',
 'www',
 'xxx',
 'yyy',
 'zzz'}

In [25]:
drop_alldb['site'].replace({' 0502':'ไม่ระบุ',
                            '05087\n':'05087',
                            '05250\n':'05250',
                            '05350ยอ':'05350',
                            '11111111':'11111',
                            '13777t':'13777',
                            '13943\n\n':'13943',
                            '5271':'ไม่ระบุ',
                            'aaa':'ไม่ระบุ',
                            'bbb':'ไม่ระบุ',
                            'ccc':'ไม่ระบุ',
                            'eee':'ไม่ระบุ',
                            'fff':'ไม่ระบุ',
                            'ggg':'ไม่ระบุ',
                            'hhh':'ไม่ระบุ',
                            'iii':'ไม่ระบุ',
                            'jjj':'ไม่ระบุ',
                            'kkk':'ไม่ระบุ',
                            'lll':'ไม่ระบุ',
                            'mmm':'ไม่ระบุ',
                            'ppp':'ไม่ระบุ',
                            'qqq':'ไม่ระบุ',
                            'rrr':'ไม่ระบุ',
                            'sss':'ไม่ระบุ',
                            'test':'ไม่ระบุ',
                            'ttt':'ไม่ระบุ',
                            'uuu':'ไม่ระบุ',
                            'vvv':'ไม่ระบุ',
                            'www':'ไม่ระบุ',
                            'xxx':'ไม่ระบุ',
                            'yyy':'ไม่ระบุ',
                            'zzz':'ไม่ระบุ',
                            '043.1':'ไม่ระบุ'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [26]:
set(drop_alldb['site'])

{'00004',
 '00006',
 '00007',
 '00008',
 '00012',
 '00016',
 '00017',
 '00018',
 '00027',
 '00028',
 '00040',
 '00052',
 '00055',
 '00061',
 '00069',
 '00070',
 '00071',
 '00081',
 '00082',
 '00090',
 '00094',
 '00096',
 '00108',
 '00109',
 '00115',
 '00120',
 '00122',
 '00127',
 '00163',
 '00164',
 '00165',
 '00166',
 '00169',
 '00170',
 '00171',
 '00173',
 '00174',
 '00176',
 '00177',
 '00178',
 '00179',
 '00180',
 '00182',
 '00185',
 '00186',
 '00187',
 '00189',
 '00190',
 '00191',
 '00192',
 '00193',
 '00194',
 '00195',
 '00196',
 '00197',
 '00198',
 '00200',
 '00202',
 '00204',
 '00205',
 '00206',
 '00207',
 '00209',
 '00213',
 '00214',
 '00217',
 '00218',
 '00219',
 '00229',
 '00232',
 '00235',
 '00240',
 '00247',
 '00266',
 '00271',
 '00279',
 '00323',
 '00331',
 '00333',
 '00346',
 '00348',
 '00381',
 '00382',
 '00385',
 '00387',
 '00388',
 '00389',
 '00390',
 '00391',
 '00394',
 '00397',
 '00400',
 '00401',
 '00404',
 '00406',
 '00408',
 '00410',
 '00411',
 '00412',
 '00413',
 '00414',
 '00415',
 '00512',
 '00513',
 '00579',
 '00580',
 '00956',
 '01151',
 '02038',
 '02414',
 '02536',
 '02759',
 '03432',
 '03616',
 '03626',
 '04275',
 '04279',
 '04280',
 '04281',
 '04302',
 '04312',
 '04313',
 '04321',
 '04322',
 '04326',
 '04337',
 '04347',
 '04348',
 '04349',
 '04351',
 '04352',
 '04355',
 '04374',
 '04376',
 '04380',
 '04384',
 '04387',
 '04388',
 '04390',
 '04391',
 '04396',
 '04399',
 '04401',
 '04402',
 '04403',
 '04404',
 '04405',
 '04406',
 '04407',
 '04408',
 '04433',
 '04434',
 '04435',
 '04436',
 '04437',
 '04438',
 '04441',
 '04443',
 '04455',
 '04456',
 '04457',
 '04458',
 '04475',
 '04478',
 '04558',
 '04936',
 '04968',
 '04970',
 '04971',
 '04973',
 '04974',
 '04977',
 '04980',
 '04981',
 '04982',
 '04983',
 '04984',
 '04985',
 '04986',
 '04989',
 '04990',
 '04992',
 '04993',
 '04994',
 '04995',
 '04996',
 '04997',
 '04999',
 '05000',
 '05001',
 '05002',
 '05003',
 '05004',
 '05005',
 '05006',
 '05007',
 '05008',
 '05009',
 '05010',
 '05011',
 '05012',
 '05013',
 '05015',
 '05016',
 '05019',
 '05021',
 '05022',
 '05023',
 '05024',
 '05025',
 '05026',
 '05027',
 '05028',
 '05029',
 '05032',
 '05033',
 '05034',
 '05035',
 '05038',
 '05040',
 '05042',
 '05044',
 '05045',
 '05047',
 '05048',
 '05049',
 '05052',
 '05054',
 '05055',
 '05058',
 '05059',
 '05060',
 '05061',
 '05062',
 '05063',
 '05064',
 '05065',
 '05066',
 '05067',
 '05068',
 '05069',
 '05072',
 '05074',
 '05075',
 '05077',
 '05079',
 '05080',
 '05081',
 '05082',
 '05083',
 '05084',
 '05086',
 '05087',
 '05088',
 '05090',
 '05091',
 '05094',
 '05097',
 '05098',
 '05100',
 '05101',
 '05102',
 '05103',
 '05107',
 '05111',
 '05112',
 '05113',
 '05115',
 '05116',
 '05117',
 '05119',
 '05120',
 '05123',
 '05125',
 '05126',
 '05128',
 '05129',
 '05131',
 '05132',
 '05133',
 '05135',
 '05136',
 '05141',
 '05143',
 '05144',
 '05146',
 '05147',
 '05152',
 '05154',
 '05157',
 '05158',
 '05162',
 '05166',
 '05172',
 '05173',
 '05175',
 '05177',
 '05178',
 '05180',
 '05181',
 '05182',
 '05185',
 '05187',
 '05188',
 '05192',
 '05193',
 '05194',
 '05195',
 '05196',
 '05198',
 '05200',
 '05203',
 '05205',
 '05207',
 '05210',
 '05211',
 '05213',
 '05214',
 '05215',
 '05219',
 '05220',
 '05222',
 '05223',
 '05224',
 '05225',
 '05226',
 '05228',
 '05229',
 '05233',
 '05236',
 '05237',
 '05238',
 '05240',
 '05241',
 '05242',
 '05244',
 '05245',
 '05246',
 '05247',
 '05248',
 '05249',
 '05250',
 '05251',
 '05252',
 '05253',
 '05254',
 '05255',
 '05256',
 '05257',
 '05258',
 '05259',
 '05260',
 '05261',
 '05264',
 '05265',
 '05291',
 '05298',
 '05300',
 '05304',
 '05310',
 '05311',
 '05312',
 '05313',
 '05314',
 '05315',
 '05316',
 '05322',
 '05323',
 '05324',
 '05325',
 '05327',
 '05328',
 '05332',
 '05335',
 '05337',
 '05338',
 '05339',
 '05340',
 '05343',
 '05344',
 '05345',
 '05346',
 '05349',
 '05350',
 '05351',
 '05352',
 '05354',
 '05355',
 '05356',
 '05357',
 '05358',
 '05359',
 '05360',
 '05361',
 '05363',
 '05365',
 '05366',
 '05367',
 '05368',
 '05370',
 '05371',
 '05373',
 '05378',
 '05386',
 '05391',
 '05392',
 '05393',
 '05394',
 '05395',
 '05396',
 '05399',
 '05413',
 '05414',
 '05415',
 '05416',
 '05418',
 '05419',
 '05422',
 '05423',
 '05424',
 '05425',
 '05428',
 '05431',
 '05432',
 '05433',
 '05434',
 '05435',
 '05436',
 '05437',
 '05439',
 '05440',
 '05441',
 '05442',
 '05541',
 '06238',
 '06251',
 '06253',
 '06254',
 '06255',
 '06256',
 '06257',
 '06259',
 '06260',
 '06261',
 '06263',
 '06265',
 '06267',
 '06268',
 '06270',
 '06271',
 '06272',
 '06273',
 '06274',
 '06275',
 '06276',
 '06277',
 '06278',
 '06279',
 '06280',
 '06281',
 '06282',
 '06283',
 '06285',
 '06286',
 '06287',
 '06288',
 '06289',
 '06290',
 '06291',
 '06292',
 '06293',
 '06294',
 '06295',
 '06296',
 '06297',
 '06298',
 '06299',
 '06300',
 '06301',
 '06302',
 '06307',
 '06308',
 '06309',
 '06310',
 '06311',
 '06312',
 '06314',
 '06315',
 '06316',
 '06318',
 '06319',
 '06320',
 '06321',
 '06322',
 '06323',
 '06324',
 '06325',
 '06326',
 '06327',
 '06328',
 '06329',
 '06330',
 '06331',
 '06332',
 '06333',
 '06334',
 '06521',
 '08485',
 '10360',
 '10673',
 '11010',
 '11055',
 '11056',
 '11057',
 '11059',
 '11060',
 '11066',
 '11069',
 '11070',
 '11072',
 '11073',
 '11084',
 '11088',
 '11111',
 '11158',
 '11159',
 '11160',
 '11161',
 '11163',
 '11164',
 '11165',
 '11740',
 '11748',
 '11749',
 '11800',
 '11887',
 '13777',
 '13937',
 '13941',
 '13943',
 '13944',
 '13946',
 '13947',
 '13948',
 '13949',
 '13952',
 '13953',
 '13954',
 '13955',
 '13962',
 '13963',
 '13966',
 '13984',
 '13987',
 '14005',
 '14007',
 '14280',
 '14284',
 '14843',
 '20510',
 '22222',
 '24622',
 '24650',
 '27988',
 '27990',
 '27998',
 '28017',
 '28691',
 '28789',
 '33333',
 '44902',
 '45972',
 '49741',
 '50210',
 '55555',
 '66666',
 '75757',
 '88888',
 '97255',
 '99795',
 '99999',
 'ไม่ระบุ'}

In [17]:
new_hospital = data_hospital[['hcode','name','zone_code','zone_name','provincecode','province','amphurcode','amphur','tamboncode','tambon']]
new_hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ
...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น

In [18]:
new_hospital.isnull().sum()

hcode             0
name              1
zone_code         0
zone_name         4
provincecode      1
province          0
amphurcode        2
amphur            2
tamboncode      168
tambon          209
dtype: int64

In [19]:
drop_hospital = new_hospital.dropna()
drop_hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ
...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น

In [20]:
removes = new_hospital.shape[0] - drop_hospital.shape[0]
print(f'size before drop = {new_hospital.shape[0]}')
print(f'size after drop = {drop_hospital.shape[0]}')
print(f'% from drop = {(removes/new_hospital.shape[0])*100}')

size before drop = 17103
size after drop = 16890
% from drop = 1.245395544641291

In [21]:
set(drop_hospital['hcode'])

{'08655',
 '09168',
 '23531',
 '03496',
 '19336',
 '09059',
 '28421',
 '28102',
 '11532',
 '13954',
 '24765',
 '03178',
 '06103',
 '09556',
 '01827',
 '10010',
 '11176',
 '01518',
 '10022',
 '24294',
 '00731',
 '08886',
 '24665',
 '02579',
 '05591',
 '06846',
 '11486',
 '02903',
 '07973',
 '10230',
 '02299',
 '08977',
 '06129',
 '11724',
 '02102',
 '11433',
 '23004',
 '03818',
 '11287',
 '02625',
 '08261',
 '24907',
 '24255',
 '03420',
 '24682',
 '28272',
 '26907',
 '01569',
 '01826',
 '02205',
 '01384',
 '09328',
 '13924',
 '04074',
 '14968',
 '04332',
 '09859',
 '07216',
 '10936',
 '14051',
 '00703',
 '24490',
 '26666',
 '28855',
 '13725',
 '24548',
 '08427',
 '01913',
 '03243',
 '05314',
 '08889',
 '10929',
 '14057',
 '02494',
 '12425',
 '23977',
 '25654',
 '09754',
 '28475',
 '06186',
 '25209',
 '05073',
 '25845',
 '07420',
 '14005',
 '03501',
 '05315',
 '08451',
 '11780',
 '27416',
 '00657',
 '02158',
 '06822',
 '24525',
 '11468',
 '01716',
 '11715',
 '07643',
 '16637',
 '02495',
 '07839',
 '07453',
 '25750',
 '11156',
 '05344',
 '01104',
 '10416',
 '14900',
 '02648',
 '04699',
 '05083',
 '14104',
 '01366',
 '06251',
 '02042',
 '05576',
 '23394',
 '24377',
 '24743',
 '24298',
 '07546',
 '13699',
 '04860',
 '23955',
 '14864',
 '25628',
 '09352',
 '23030',
 '25793',
 '28827',
 '01327',
 '05461',
 '08720',
 '25715',
 '05324',
 '02965',
 '04845',
 '05587',
 '01644',
 '22471',
 '00234',
 '07063',
 '13716',
 '10500',
 '24459',
 '06932',
 '00210',
 '08250',
 '07057',
 '08796',
 '02222',
 '14991',
 '08267',
 '17917',
 '01769',
 '08668',
 '09074',
 '07428',
 '01794',
 '05038',
 '09318',
 '02481',
 '07629',
 '17908',
 '25853',
 '28144',
 '04160',
 '05949',
 '09940',
 '01460',
 '99916',
 '00616',
 '24152',
 '03455',
 '06291',
 '08789',
 '10587',
 '01675',
 '06705',
 '24945',
 '28723',
 '25690',
 '28349',
 '27033',
 '17161',
 '04529',
 '11534',
 '04458',
 '08692',
 '11388',
 '24334',
 '06220',
 '07362',
 '10714',
 '00248',
 '02946',
 '07700',
 '07732',
 '07470',
 '08987',
 '11952',
 '23846',
 '99763',
 '02544',
 '14574',
 '28552',
 '02147',
 '00977',
 '01055',
 '03366',
 '09273',
 '05559',
 '10798',
 '24116',
 '01949',
 '08688',
 '04906',
 '11235',
 '24845',
 '09972',
 '26903',
 '10697',
 '28476',
 '11379',
 '11295',
 '07004',
 '28241',
 '24465',
 '03682',
 '08217',
 '00297',
 '02109',
 '27419',
 '08142',
 '15110',
 '09828',
 '20033',
 '07054',
 '08019',
 '00058',
 '27430',
 '06365',
 '09238',
 '07797',
 '28173',
 '03840',
 '07201',
 '04927',
 '25005',
 '07168',
 '08040',
 '10225',
 '25176',
 '99958',
 '03282',
 '01260',
 '07459',
 '05951',
 '01602',
 '05016',
 '08965',
 '14339',
 '04343',
 '00520',
 '07893',
 '02423',
 '04877',
 '07272',
 '02621',
 '24904',
 '04166',
 '24293',
 '25026',
 '03376',
 '01705',
 '06399',
 '04154',
 '28044',
 '13909',
 '00094',
 '00307',
 '24801',
 '27527',
 '99750',
 '05957',
 '05532',
 '02438',
 '06287',
 '26985',
 '27343',
 '03756',
 '14638',
 '10727',
 '05590',
 '01023',
 '27505',
 '05739',
 '04972',
 '00157',
 '10591',
 '13887',
 '25102',
 '07316',
 '25585',
 '24468',
 '09314',
 '03872',
 '00313',
 '07807',
 '01688',
 '00948',
 '26091',
 '01070',
 '06412',
 '22001',
 '23873',
 '01468',
 '04271',
 '23726',
 '01130',
 '06638',
 '23958',
 '26880',
 '04390',
 '07957',
 '27500',
 '06778',
 '25196',
 '07589',
 '04789',
 '04611',
 '13692',
 '15240',
 '28243',
 '02762',
 '28637',
 '01258',
 '03283',
 '27056',
 '00128',
 '00140',
 '04315',
 '24742',
 '00800',
 '16054',
 '24854',
 '25677',
 '08831',
 '28130',
 '02541',
 '02401',
 '06838',
 '25222',
 '06642',
 '99806',
 '19338',
 '09083',
 '00742',
 '06736',
 '07444',
 '11103',
 '26584',
 '01573',
 '03358',
 '10118',
 '24085',
 '24766',
 '28136',
 '03088',
 '09560',
 '04199',
 '12212',
 '24554',
 '04707',
 '07884',
 '02012',
 '24412',
 '25862',
 '03437',
 '08295',
 '06541',
 '09726',
 '01862',
 '14682',
 '02007',
 '02209',
 '08841',
 '21405',
 '28300',
 '07997',
 '23940',
 '10768',
 '99768',
 '11179',
 '00048',
 '01412',
 '01981',
 '18385',
 '07648',
 '09536',
 '24047',
 '04342',
 '04664',
 '10901',
 '01782',
 '03633',
 '00907',
 '13944',
 '06776',
 '04561',
 '12446',
 '13849',
 '08460',
 '27673',
 '01446',
 '07794',
 '09995',
 '00951',
 '07142',
 '07098',
 '14656',
 '03597',
 '07165',
 '09712',
 '05991',
 '04535',
 '12400',
 '02587',
 '00464',
 '03583',
 '03284',
 '25741',
 '00492',
 '14879',
 '12049',
 '01996',
 '28821',
 '01798',
 '02993',
 '06385',
 '04176',
 '07403',
 '14452',
 '21583',
 '25744',
 '04108',
 '03354',
 '07025',
 '10978',
 '07344',
 '24063',
 '24032',
 '06111',
 '28260',
 '28765',
 '24615',
 '10741',
 '25660',
 '25964',
 '08328',
 '28350',
 '01141',
 '27971',
 '03572',
 '24177',
 '11956',
 '27623',
 '02858',
 '00409',
 '01931',
 '11152',
 '19378',
 '06900',
 '06354',
 '12072',
 '22805',
 '28262',
 '19720',
 '02720',
 '02118',
 '24014',
 '00722',
 '01037',
 '01479',
 '24725',
 '10706',
 '02982',
 '07859',
 '10725',
 '10746',
 '02619',
 '05407',
 '28054',
 '02212',
 '10780',
 '12456',
 '04222',
 '08182',
 '07073',
 '23577',
 '25824',
 '00712',
 '01564',
 '02540',
 '03651',
 '04742',
 '09599',
 '23923',
 '09554',
 '02986',
 '02039',
 '02045',
 '24848',
 '05273',
 '07080',
 '26677',
 '28110',
 '07771',
 '04032',
 '27555',
 '14965',
 '03052',
 '02509',
 '08827',
 '09414',
 '05647',
 '09889',
 '10355',
 '26874',
 '26977',
 '08135',
 '02758',
 '05768',
 '99876',
 '26085',
 '06677',
 '09269',
 '00078',
 '02306',
 '03492',
 '08868',
 '26840',
 '07597',
 '25865',
 '08396',
 '04624',
 '02978',
 '03148',
 '02409',
 '03660',
 '02776',
 '01349',
 '04613',
 '11043',
 '11127',
 '01684',
 '01599',
 '24189',
 '18379',
 '03363',
 '28806',
 '05703',
 '08061',
 '02152',
 '04670',
 '08520',
 '07734',
 '04359',
 '25829',
 '06523',
 '00283',
 '06265',
 '00668',
 '01710',
 '04989',
 '00401',
 '01787',
 '04502',
 '09282',
 '99787',
 '01049',
 '02642',
 '01238',
 '02924',
 '00393',
 '09085',
 '15065',
 '04178',
 '06933',
 '14225',
 '24552',
 '07852',
 '77649',
 '05630',
 '13703',
 '01610',
 '11720',
 '02709',
 '06323',
 '02351',
 '06531',
 '10034',
 '24506',
 '09604',
 '01792',
 '03636',
 '01212',
 '01616',
 '06625',
 '14420',
 '21557',
 '24054',
 '26653',
 '26882',
 '11775',
 '07269',
 '14070',
 '03276',
 '01231',
 '24788',
 '09207',
 '08558',
 '26968',
 '14158',
 '15252',
 '04172',
 '00986',
 '02079',
 '01943',
 '05772',
 '07874',
 '06843',
 '12289',
 '05111',
 '09329',
 '24695',
 '24235',
 '23636',
 '09978',
 '11203',
 '21747',
 '05371',
 '05497',
 '14344',
 '26104',
 '28087',
 '13765',
 '26087',
 '04043',
 '24963',
 '05384',
 '06694',
 '11083',
 '10963',
 '07508',
 '06814',
 '10665',
 '01433',
 '13713',
 '04928',
 '24987',
 '00174',
 '01936',
 '28060',
 '05268',
 '05379',
 '24342',
 '05473',
 '06659',
 '00120',
 '03956',
 '24211',
 '13684',
 '02148',
 '27389',
 '05041',
 '00814',
 '04642',
 '11449',
 '10910',
 '03327',
 '12149',
 '24804',
 '02566',
 '03108',
 '01110',
 '03852',
 '08147',
 '02645',
 '02831',
 '24374',
 '26586',
 '27556',
 '01856',
 '07433',
 '04307',
 '09295',
 '03931',
 '03234',
 '04834',
 '13830',
 '99956',
 '01099',
 '24539',
 '06868',
 '03044',
 '14066',
 '01438',
 '10801',
 '00915',
 '10384',
 '04743',
 '06964',
 '07894',
 '27538',
 '21833',
 '25133',
 '00795',
 '13911',
 '05231',
 '23500',
 '07781',
 '04831',
 '02383',
 '26050',
 '07779',
 '26594',
 '14266',
 '03380',
 '28548',
 '10197',
 '11424',
 '09061',
 '77722',
 '27777',
 '07409',
 '06150',
 '08458',
 '11483',
 '27029',
 '28198',
 '08378',
 '03986',
 '03559',
 '09954',
 '05905',
 '26315',
 '23850',
 '25847',
 '28119',
 '09052',
 '09008',
 '14328',
 '03938',
 '05875',
 '24494',
 '08689',
 '01992',
 '07107',
 '08105',
 '09068',
 '06054',
 '27680',
 '06832',
 '02614',
 '11854',
 '05736',
 '24146',
 '00359',
 '02400',
 '00631',
 '09386',
 '04574',
 '13671',
 '09797',
 '05280',
 '02620',
 '25629',
 '04895',
 '11310',
 '02304',
 '08302',
 '11019',
 '00443',
 '09090',
 '02708',
 '04402',
 '15233',
 '02081',
 '02052',
 '09822',
 '15061',
 '24329',
 '28322',
 '00312',
 '04052',
 '11329',
 '10432',
 '23172',
 '21037',
 '25722',
 '04369',
 '77662',
 '02230',
 '09246',
 '07477',
 '09023',
 '05529',
 '08233',
 '01489',
 '15702',
 '00987',
 '10196',
 '25112',
 '03839',
 '07609',
 '03871',
 '02722',
 '24978',
 '07941',
 '01525',
 '25938',
 '05826',
 '07509',
 '11913',
 '11031',
 '25959',
 '15109',
 '09813',
 '15667',
 '21867',
 '00546',
 '00369',
 '06988',
 '11962',
 '11637',
 '00613',
 '11841',
 '01990',
 '04253',
 '23267',
 '08808',
 '00834',
 '24849',
 '01854',
 '04741',
 '10718',
 '14884',
 '21748',
 '03209',
 '09643',
 '04717',
 '24513',
 '14365',
 '03616',
 '10838',
 '16057',
 '28180',
 '08878',
 '24122',
 '05380',
 '28190',
 '05300',
 '24623',
 '03639',
 '04643',
 '01253',
 '07105',
 '06037',
 '04461',
 '07089',
 '02496',
 '05180',
 '04682',
 '07770',
 '13710',
 '09147',
 '01742',
 '04064',
 '24750',
 '06075',
 '24491',
 '28097',
 '00859',
 '04767',
 '13818',
 '25637',
 '14212',
 '08972',
 '04446',
 '14470',
 '06488',
 '09210',
 '05376',
 '08803',
 '24635',
 '24636',
 '28796',
 '09756',
 '25619',
 '08517',
 '07795',
 '03478',
 '03582',
 '05729',
 '22679',
 '02899',
 '04905',
 '06067',
 '04791',
 '24071',
 '05453',
 '08102',
 '25121',
 '21474',
 '14313',
 '09586',
 '28040',
 '02893',
 '07374',
 '02033',
 '09030',
 '04460',
 '23576',
 '25014',
 '12474',
 '21323',
 '07844',
 '09286',
 '27380',
 '05498',
 '09857',
 '06797',
 '03649',
 '00108',
 '22128',
 '24610',
 '04715',
 '28296',
 '03940',
 '02825',
 '06230',
 '05534',
 '08273',
 '23557',
 '01555',
 '01531',
 '22341',
 '00935',
 '07447',
 '03465',
 '08240',
 '12126',
 '04675',
 '11430',
 '24591',
 '04518',
 '24926',
 '26585',
 '27432',
 '04674',
 '24091',
 '07698',
 '12408',
 '06161',
 '14110',
 '28052',
 '01301',
 '13782',
 '00530',
 '06712',
 '28839',
 '24442',
 '09056',
 '11938',
 '03855',
 '11497',
 '25157',
 '06533',
 '01512',
 '04785',
 '28050',
 '06030',
 '00574',
 '00619',
 '27000',
 '99957',
 '09256',
 '25857',
 '00557',
 '03618',
 '07709',
 '03794',
 '14462',
 '09624',
 '24261',
 '06987',
 '24546',
 '24733',
 '00277',
 ...}

In [30]:
data = drop_alldb.merge(drop_hospital,how='left',left_on='site',right_on='hcode')
data

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000,05194,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองหว้า ตำบลกก...,7.0,สาขาพื้นที่(ขอนแก่น),45.0,ร้อยเอ็ด,9.0,หนองพอก,4.0,กกโพธิ์
1,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528,04312,โรงพยาบาลส่งเสริมสุขภาพตำบลสีชมพู,7.0,สาขาพื้นที่(ขอนแก่น),40.0,ขอนแก่น,6.0,สีชมพู,1.0,สีชมพู
2,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544,04312,โรงพยาบาลส่งเสริมสุขภาพตำบลสีชมพู,7.0,สาขาพื้นที่(ขอนแก่น),40.0,ขอนแก่น,6.0,สีชมพู,1.0,สีชมพู
3,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000,04999,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเปลือย,7.0,สาขาพื้นที่(ขอนแก่น),44.0,มหาสารคาม,6.0,บรบือ,19.0,หนองโก
4,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,7.0,สาขาพื้นที่(ขอนแก่น),40.0,ขอนแก่น,1.0,เมืองขอนแก่น,1.0,ในเมือง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38658,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,ไม่ระบุ,14:23:45,ขุ่น,2,x001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38659,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,ไม่ระบุ,14:23:43,ขุ่น,2,x001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38660,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,ไม่ระบุ,00:01:06,ปกติ (เหลืองใส),3,xxx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38661,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,ไม่ระบุ,08:41:05,มีเม็ดเลือดแดง,2,yyy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38662,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,ไม่ระบุ,08:41:04,มีตะกอน,2,zzz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
data.isnull().sum()

user              0
RowKey            0
date              0
phone             0
site              0
time              0
urine             0
ov                0
PartitionKey      0
hcode           379
name            379
zone_code       379
zone_name       379
provincecode    379
province        379
amphurcode      379
amphur          379
tamboncode      379
tambon          379
dtype: int64

In [32]:
drop_data = data.dropna()
drop_data

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon
0,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000,05194,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองหว้า ตำบลกก...,7.0,สาขาพื้นที่(ขอนแก่น),45.0,ร้อยเอ็ด,9.0,หนองพอก,4.0,กกโพธิ์
1,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528,04312,โรงพยาบาลส่งเสริมสุขภาพตำบลสีชมพู,7.0,สาขาพื้นที่(ขอนแก่น),40.0,ขอนแก่น,6.0,สีชมพู,1.0,สีชมพู
2,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544,04312,โรงพยาบาลส่งเสริมสุขภาพตำบลสีชมพู,7.0,สาขาพื้นที่(ขอนแก่น),40.0,ขอนแก่น,6.0,สีชมพู,1.0,สีชมพู
3,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000,04999,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเปลือย,7.0,สาขาพื้นที่(ขอนแก่น),44.0,มหาสารคาม,6.0,บรบือ,19.0,หนองโก
4,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,7.0,สาขาพื้นที่(ขอนแก่น),40.0,ขอนแก่น,1.0,เมืองขอนแก่น,1.0,ในเมือง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38562,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),1,92,05258,โรงพยาบาลส่งเสริมสุขภาพตำบลหนองตาโฮม ตำบลขี้เหล็ก,7.0,สาขาพื้นที่(ขอนแก่น),45.0,ร้อยเอ็ด,14.0,อาจสามารถ,9.0,ขี้เหล็ก
38565,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),2,976,28017,โรงพยาบาลนาคู,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,16.0,นาคู,1.0,นาคู
38566,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),2,983,28017,โรงพยาบาลนาคู,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,16.0,นาคู,1.0,นาคู
38569,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10:25:32,ปกติ (เหลืองใส),1,99444,11088,โรงพยาบาลห้วยผึ้ง,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง
38570,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,"iPhone10,5",05396,11:03:40,ปกติ (เหลืองใส),0,99771,05396,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านสูงเนิน,7.0,สาขาพื้นที่(ขอนแก่น),46.0,กาฬสินธุ์,10.0,คำม่วง,9.0,เนินยาง

In [33]:
removes = data.shape[0] - drop_data.shape[0]
print(f'size before drop = {data.shape[0]}')
print(f'size after drop = {drop_data.shape[0]}')
print(f'% from drop = {(removes/data.shape[0])*100}')

size before drop = 38663
size after drop = 38284
% from drop = 0.980265369991982

In [34]:
set(drop_data['user'])

{'55075',
 '62334',
 '70810',
 '68856',
 '61359',
 '66205',
 '90888',
 '34343',
 '86758',
 '25219',
 '27046',
 '02579',
 '25466',
 '00009',
 '60909',
 '64810',
 '28402',
 '02102',
 '63910',
 '19201',
 '43228',
 '68037',
 '84493',
 '22099',
 '50802',
 '18513',
 '01008',
 '47605',
 '15229',
 '02759',
 '36358',
 '00113',
 '67615',
 '39764',
 '51310',
 '70370',
 '94406',
 '00002',
 '96417',
 '45876',
 '75061',
 '47157',
 '64671',
 '29611',
 '67850',
 '00171',
 '30121',
 '29159',
 '03409',
 '00148',
 '30016',
 '49863',
 '39539',
 '28330',
 '33503',
 '87181',
 '88337',
 '61746',
 '28186',
 '84196',
 '83276',
 '51903',
 '87374',
 '48646',
 '98080',
 '09315',
 '53076',
 '59051',
 '20380',
 '34409',
 '70290',
 '96081',
 '84479',
 '00210',
 '62440',
 '95810',
 '33869',
 '05038',
 '24258',
 '22680',
 '68081',
 '86542',
 '08773',
 '00031',
 '15102',
 '13406',
 '23078',
 '31534',
 '63098',
 '23231',
 '83771',
 '80673',
 '00205',
 '62059',
 '95978',
 '6724-',
 '19241',
 '00237',
 '76523',
 '16529',
 '81095',
 '05154',
 '25683',
 '99835',
 '86113',
 '00122',
 '28992',
 '00204',
 '28241',
 '54214',
 '00282',
 '00297',
 '27096',
 '84055',
 '61320',
 '25176',
 '74375',
 '38121',
 '00289',
 '17055',
 '48514',
 '29999',
 '68759',
 '50349',
 '00187',
 '69576',
 '90070',
 '38547',
 '21831',
 '00307',
 '24986',
 '11611',
 '66155',
 '89381',
 '35942',
 '05590',
 '03431',
 '3451100150251',
 '23058',
 '00169',
 '36141',
 '97013',
 '00157',
 '24468',
 '05304',
 '00313',
 '62070',
 '12839',
 '32200',
 '23958',
 '67212',
 '45161',
 '48016',
 '73636',
 '19273',
 '00128',
 '33643',
 '55547',
 '00140',
 '43143',
 '29000',
 '02784',
 '02217',
 '27658',
 '90571',
 '63753',
 '03736',
 '74782',
 '87536',
 '49659',
 '31619',
 '71781',
 '28551',
 '85934',
 '83303',
 '45531',
 '48440',
 '35605',
 '00121',
 '40828',
 '00192',
 '64385',
 '87218',
 '69431',
 '79834',
 '18385',
 '63485',
 '00048',
 '46622',
 '83725',
 '85379',
 '68829',
 '76014',
 '16085',
 '97255',
 '48393',
 '61587',
 '18402',
 '51039',
 '31869',
 '09226',
 '49413',
 '45924',
 '21432',
 '06260',
 '06385',
 '31428',
 '98530',
 '18892',
 '11387',
 '00020',
 '63200',
 '76105',
 '24032',
 '51241',
 '19624',
 '98519',
 '75835',
 '49880',
 '00399',
 '66771',
 '33121',
 '41951',
 '12605',
 '56326',
 '47494',
 '32077',
 '00409',
 '65775',
 '03500',
 '81537',
 '49241',
 '65254',
 '41340',
 '89609',
 '80253',
 '94019',
 '00039',
 '75251',
 '28593',
 '39524',
 '92948',
 '05507',
 '79590',
 '31196',
 '00404',
 '19920',
 '745-61',
 '93884',
 '00133',
 '26043',
 '12041',
 '97831',
 '16428',
 '66437',
 '93307',
 '81621',
 '09269',
 '00078',
 '87394',
 '31994',
 '98245',
 '89081',
 '00147',
 '85989',
 '11055',
 '37186',
 '39638',
 '85493',
 '61121',
 '97860',
 '41937',
 '74891',
 '10673',
 '86981',
 '28399',
 '64081',
 '00295',
 '27902',
 '89056',
 '18849',
 '77665',
 '68317',
 '25829',
 '19591',
 '00283',
 '60181',
 '29875',
 '03263',
 '06079',
 '48493',
 '41000',
 '84063',
 '19808',
 '28890',
 '3451100324713',
 '3450500541443',
 '10695',
 '65675',
 '29514',
 '73381',
 '41061',
 '92893',
 '00135',
 '32082',
 '37231',
 '46341',
 '93671',
 '00301',
 '63323',
 '39959',
 '00290',
 '00145',
 '03953',
 '73302',
 '44888',
 '24994',
 '26773',
 '67400',
 '80175',
 '00394',
 '17842',
 '00041',
 '00174',
 '88973',
 '00195',
 '23889',
 '29051',
 '45914',
 '52520',
 '00120',
 '99884',
 '00352',
 '32310',
 '36593',
 '77358',
 '63284',
 '33100',
 '96431',
 '32914',
 '47607',
 '52724',
 '00045',
 '88538',
 '67352',
 '52481',
 '83934',
 '87733',
 '91811',
 '15801',
 '24612',
 '26811',
 '06964',
 '00028',
 '37728',
 '27589',
 '19559',
 '23010',
 '77670',
 '3451100141252',
 '39448',
 '76011',
 '54761',
 '12576',
 '11282',
 '52219',
 '10992',
 '01651',
 '28977',
 '89251',
 '00223',
 '00027',
 '32581',
 '65995',
 '00321',
 '63068',
 '3451100324624',
 '3459900286317',
 '12378',
 '42120',
 '55239',
 '81065',
 '71813',
 '62768',
 '56044',
 '51403',
 '18025',
 '47593',
 '10375',
 '47938',
 '12003',
 '00292',
 '47429',
 '04402',
 '62687',
 '00312',
 '24404',
 '02230',
 '00163',
 '82894',
 '78133',
 '5450100026807',
 '7140',
 '88315',
 '39529',
 '55415',
 '41026',
 '34096',
 '63312',
 '04281',
 '55365',
 '00139',
 '25804',
 '00280',
 '19130',
 '00025',
 '70409',
 '14884',
 '00324',
 '14189',
 '00055',
 '96099',
 '83943',
 '06681',
 '71872',
 '37607',
 '26511',
 '19322',
 '3450101229373',
 '52147',
 '04461',
 '63429',
 '81472',
 '00001',
 '90872',
 '63091',
 '58993',
 '31229',
 '08021',
 '24491',
 '52678',
 '96349',
 '71417',
 '08072',
 '74394',
 '74523',
 '18041',
 '00624',
 '44018',
 '45485',
 '97484',
 '37914',
 '47810',
 '03421',
 '03649',
 '00108',
 '3450101556129',
 '00052',
 '38614',
 '02825',
 '22804',
 '22722',
 '45736',
 '61486',
 '58196',
 '90604',
 '28348',
 '56821',
 '95301',
 '09529',
 '55873',
 '28731',
 '49215',
 '64520',
 '00233',
 '72486',
 '00277',
 '06436',
 '3450100836420',
 '79322',
 '33791',
 '39537',
 '59476',
 '74369',
 '71921',
 '94758',
 '31133',
 '23214',
 '33081',
 '50624',
 '89195',
 '81724',
 '00288',
 '87029',
 '00348',
 '00216',
 '85879',
 '15737',
 '67450',
 '09072',
 '25331',
 '30660',
 '72169',
 '80317',
 '45668',
 '37732',
 '45680',
 '00123',
 '34322',
 '85702',
 '00081',
 '95127',
 '39079',
 '55354',
 '48368',
 '86133',
 '00024',
 '47146',
 '92042',
 '86407',
 '66708',
 '72938',
 '22542',
 '33237',
 '18008',
 '63951',
 '16022',
 '74861',
 '25923',
 '76486',
 '08370',
 '23416',
 '10534',
 '00298',
 '00276',
 '52209',
 '04405',
 '37826',
 '48069',
 '00268',
 '00082',
 '41042',
 '91125',
 '29118',
 '17132',
 '05113',
 '61087',
 '39103',
 '51205',
 '00235',
 '69566',
 '17790',
 '85094',
 '71970',
 '87468',
 '43791',
 '23338',
 '03080',
 '78960',
 '61552',
 '86601',
 '01762',
 '62491',
 '83377',
 '22455',
 '62261',
 '91438',
 '95193',
 '20395',
 '68768',
 '79028',
 '72225',
 '88459',
 '94558',
 '47950',
 '64503',
 '49596',
 '05151',
 '74378',
 '90154',
 '00211',
 '71503',
 '62941',
 '22824',
 '22692',
 '00153',
 '09343',
 '27484',
 '00194',
 '48956',
 '77994',
 '47858',
 '00317',
 '14360',
 '08777',
 '97016',
 '06924',
 '33664',
 '61182',
 '3451100146637',
 '14037',
 '25721',
 '52013',
 '02897',
 '01403',
 '95291',
 '17536\n\n17536',
 '05974',
 '00582',
 '30283',
 '50580',
 '31283',
 '01850',
 '00114',
 '28062',
 '16372',
 '87315',
 '74345',
 '74335',
 '82582',
 '14255',
 '08602',
 '01088',
 '14387',
 '22244',
 '97281',
 '26957',
 '89290',
 '00134',
 '65953',
 '81529',
 '00266',
 '34317',
 '00115',
 '66062',
 '65664',
 '26604',
 '01428',
 '11215',
 '21010',
 '54932',
 '72451',
 '82777',
 '94279',
 '00941',
 '69091',
 '03558',
 '09006',
 '00180',
 '17184',
 '03617',
 '96670',
 '86483',
 '52921',
 '16112',
 '97770',
 '31086',
 '77249',
 '53188',
 '23630',
 '80336',
 '09820',
 '66473',
 '58814',
 '00316',
 '05069',
 '50276',
 '00151',
 '00208',
 '96730',
 '88377',
 '84375',
 '24846',
 '00008',
 '5451100055352',
 '14505',
 '19855',
 '03523',
 '00176',
 '91209',
 '68162',
 '66386',
 '00118',
 '95927',
 '10120',
 '80734',
 '18331',
 '89576',
 '18524',
 '03535',
 '25179',
 '18890',
 '00291',
 '00400',
 '01183',
 '06223',
 '37408',
 '19699',
 '73419',
 '46520',
 '05047',
 '00167',
 '26477',
 '7197',
 '41182',
 '00158',
 '84494',
 '92962',
 '00138',
 '19875',
 '15046',
 '72330',
 '46732',
 '71805',
 '40035',
 '30481',
 '83449',
 '64211',
 '23186',
 '29417',
 '02878',
 '46333',
 '37915',
 '5799',
 '56051',
 '29379',
 '06268',
 '16848',
 '19237',
 '61591',
 '00191',
 '56004',
 '3450100940367',
 '44502',
 '38778',
 '91402',
 '86588',
 '17974',
 '33219',
 '51795',
 '19737',
 '99734',
 '00343',
 '57066',
 '45884',
 '94087',
 '16754',
 '13361',
 '25083',
 '89470',
 '44201',
 '20606',
 '32666',
 '53089',
 '02471',
 '23796',
 '27802',
 '28010',
 '05374',
 '07331',
 '00050',
 '39593',
 '61813',
 '23675',
 '00273',
 '95668',
 '50144',
 '97913',
 '00910',
 '34705',
 '19756',
 '34210',
 '01594',
 '17415',
 '70054',
 '73251',
 '50756',
 '63837',
 '92415',
 '74747',
 '21955',
 '70957',
 '83777',
 '00132',
 '00253',
 '19852',
 '02263',
 '65075',
 '00545',
 '73233',
 '50284',
 '52922',
 '52665',
 '06790',
 '70490',
 '05091',
 '31322',
 '51235',
 '63767',
 '81197',
 '40059',
 '15930',
 '14835',
 '30431',
 '38305',
 '97290',
 '50911',
 '16174',
 '75519',
 '66191',
 '11111111',
 '29796',
 '81057',
 '45593',
 '61265',
 '89329',
 '04193',
 '00023',
 '34791',
 '01312',
 '62962',
 '00159',
 '78731',
 '25593',
 '37216',
 '19411',
 '11522',
 '87541',
 '85433',
 '26459',
 '54538',
 '77509',
 '03831',
 '59226',
 '00226',
 '02547',
 '10691',
 '32999',
 '25403',
 '40533',
 '00308',
 '12023',
 '00200',
 '00296',
 '03308',
 '84005',
 '03562',
 '37091',
 '76096',
 '21860',
 '10348',
 '97057',
 '50332',
 '  67241\n',
 '47354',
 '00016',
 '93020',
 '45701',
 '95935',
 '24563',
 '58668',
 '20304',
 '10905',
 '47844',
 '29485',
 '20827',
 '60688',
 '09259',
 '82211',
 '03169',
 '35139',
 '54974',
 '36481',
 '00036',
 '83662',
 '44812',
 '81570',
 '00162',
 '3450101325119',
 '45752',
 '10105',
 '02862',
 '38522',
 '99250',
 '00037',
 '17536',
 '08011',
 '00182',
 '78231',
 '02693',
 '00047',
 '74964',
 '12044',
 '79066',
 '00781',
 '00755',
 '72483',
 '76819',
 '54544',
 '55911',
 '11361',
 '36692',
 '05063',
 '74414',
 '00318',
 '74069',
 '00217',
 '00271',
 '59128',
 '08971',
 '31577',
 '35888',
 '43868',
 '00299',
 '05272',
 '31762',
 '05211',
 '39965',
 'ttohn',
 '10264',
 '23012',
 '77978',
 '00269',
 '00966',
 '53151',
 '18733',
 '76386',
 '00040',
 '11891',
 '00083',
 '00302',
 '14771',
 '84768',
 '49268',
 '16725',
 '11165',
 '45787',
 '15678',
 '00263',
 '00285',
 '65388',
 '80067',
 '77587',
 '77384',
 '11007',
 '25071',
 '64199',
 '20847',
 '53510',
 '76851',
 '33553',
 '14914',
 '17769',
 '46767',
 '59144',
 '10460',
 '00185',
 '01009',
 '92648',
 '45783',
 '62241',
 '78486',
 '00252',
 '78901',
 '47122',
 '38463',
 '53330',
 '26469',
 '04854',
 '02396',
 '27678',
 '05358',
 '80364',
 '35512',
 '23554',
 '31982',
 '92545',
 '07166',
 '25781',
 '74951',
 '78334',
 '31143',
 '61044',
 '32622',
 '14767',
 '80481',
 '77862',
 '55659',
 '38727',
 '25221',
 '85753',
 '67241',
 '89681',
 '07556',
 '01068',
 '45-161',
 '49387',
 '12413',
 '06855',
 '91645',
 ...}

In [36]:
drop_data['user'].replace({'3451100150251':'ไม่ระบุ',
                            '3451100324713':'ไม่ระบุ',
                            '3450500541443':'ไม่ระบุ',
                            '3451100141252':'ไม่ระบุ',
                            '3451100324624':'ไม่ระบุ',
                            '3459900286317':'ไม่ระบุ',
                            '5450100026807':'ไม่ระบุ',
                            '7140':'ไม่ระบุ',
                            '3450101229373':'ไม่ระบุ',
                            '3450101556129':'ไม่ระบุ',
                            '3450100836420':'ไม่ระบุ',
                            '3451100146637':'ไม่ระบุ',
                            '17536\n\n17536':'ไม่ระบุ',
                            '5451100055352':'ไม่ระบุ',
                            '7197':'ไม่ระบุ',
                            '3450100940367':'ไม่ระบุ',
                            '11111111':'ไม่ระบุ',
                            '  67241\n':'67241',
                            '3450101325119':'ไม่ระบุ',
                            'ttohn':'ไม่ระบุ',
                            '45-161':'45161'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [37]:
set(drop_data['user'])

{'55075',
 '62334',
 '70810',
 '68856',
 '61359',
 '66205',
 '90888',
 '34343',
 '86758',
 '25219',
 '27046',
 '02579',
 '25466',
 '00009',
 '60909',
 '64810',
 '28402',
 '02102',
 '63910',
 '19201',
 '43228',
 '68037',
 '84493',
 '22099',
 '50802',
 '18513',
 '01008',
 '47605',
 '15229',
 '02759',
 '36358',
 '00113',
 '67615',
 '39764',
 '51310',
 '70370',
 '94406',
 '00002',
 '96417',
 '45876',
 '75061',
 '47157',
 '64671',
 '29611',
 '67850',
 '00171',
 '30121',
 '29159',
 '03409',
 '00148',
 '30016',
 '49863',
 '39539',
 '28330',
 '33503',
 '87181',
 '88337',
 '61746',
 '28186',
 '84196',
 '83276',
 '51903',
 '87374',
 '48646',
 '98080',
 '09315',
 '53076',
 '59051',
 '20380',
 '34409',
 '70290',
 '96081',
 '84479',
 '00210',
 '62440',
 '95810',
 '33869',
 '05038',
 '24258',
 '22680',
 '68081',
 '86542',
 '08773',
 '00031',
 '15102',
 '13406',
 '23078',
 '31534',
 '63098',
 '23231',
 '83771',
 '80673',
 '00205',
 '62059',
 '95978',
 '6724-',
 '19241',
 '00237',
 '76523',
 '16529',
 '81095',
 '05154',
 '25683',
 '99835',
 '86113',
 '00122',
 '28992',
 '00204',
 '28241',
 '54214',
 '00282',
 '00297',
 '27096',
 '84055',
 '61320',
 '25176',
 '74375',
 '38121',
 '00289',
 '17055',
 '48514',
 '29999',
 '68759',
 '50349',
 '00187',
 '69576',
 '90070',
 '38547',
 '21831',
 '00307',
 '24986',
 '11611',
 '66155',
 '89381',
 '35942',
 '05590',
 '03431',
 '23058',
 '00169',
 '36141',
 '97013',
 '00157',
 '24468',
 '05304',
 '00313',
 '62070',
 '12839',
 '32200',
 '23958',
 '45161',
 '67212',
 '48016',
 '73636',
 '19273',
 '00128',
 '33643',
 '55547',
 '00140',
 '43143',
 '29000',
 '02784',
 '02217',
 '27658',
 '90571',
 '63753',
 '03736',
 '74782',
 '87536',
 '49659',
 '31619',
 '71781',
 '28551',
 '85934',
 '83303',
 '45531',
 '48440',
 '35605',
 '00121',
 '40828',
 '00192',
 '64385',
 '87218',
 '69431',
 '79834',
 '18385',
 '63485',
 '00048',
 '46622',
 '83725',
 '85379',
 '68829',
 '76014',
 '16085',
 '97255',
 '48393',
 '61587',
 '18402',
 '51039',
 '31869',
 '09226',
 '49413',
 '45924',
 '21432',
 '06260',
 '06385',
 '31428',
 '98530',
 '18892',
 '11387',
 '00020',
 '63200',
 '76105',
 '24032',
 '51241',
 '19624',
 '98519',
 '75835',
 '49880',
 '00399',
 '66771',
 '33121',
 '41951',
 '12605',
 '56326',
 '47494',
 '32077',
 '00409',
 '65775',
 '03500',
 '81537',
 '49241',
 '65254',
 '41340',
 '89609',
 '80253',
 '94019',
 '00039',
 '75251',
 '28593',
 '39524',
 '92948',
 '05507',
 '79590',
 '31196',
 '00404',
 '19920',
 '745-61',
 '93884',
 '00133',
 '26043',
 '12041',
 '97831',
 '16428',
 '66437',
 '93307',
 '81621',
 '09269',
 '00078',
 '87394',
 '31994',
 '98245',
 '89081',
 '00147',
 '85989',
 '11055',
 '37186',
 '39638',
 '85493',
 '61121',
 '97860',
 '41937',
 '74891',
 '10673',
 '86981',
 '28399',
 '64081',
 '00295',
 '27902',
 '89056',
 '18849',
 '77665',
 '68317',
 '25829',
 '19591',
 '00283',
 '60181',
 '29875',
 '03263',
 '06079',
 '48493',
 '41000',
 '84063',
 '19808',
 'ไม่ระบุ',
 '28890',
 '10695',
 '65675',
 '29514',
 '73381',
 '41061',
 '92893',
 '00135',
 '32082',
 '37231',
 '46341',
 '93671',
 '00301',
 '63323',
 '39959',
 '00290',
 '00145',
 '03953',
 '73302',
 '44888',
 '24994',
 '26773',
 '67400',
 '80175',
 '00394',
 '17842',
 '00041',
 '00174',
 '88973',
 '00195',
 '23889',
 '29051',
 '45914',
 '52520',
 '00120',
 '99884',
 '00352',
 '32310',
 '36593',
 '77358',
 '63284',
 '33100',
 '96431',
 '32914',
 '47607',
 '52724',
 '00045',
 '88538',
 '67352',
 '52481',
 '83934',
 '87733',
 '91811',
 '15801',
 '24612',
 '26811',
 '06964',
 '00028',
 '37728',
 '27589',
 '19559',
 '23010',
 '77670',
 '39448',
 '76011',
 '54761',
 '12576',
 '11282',
 '52219',
 '10992',
 '01651',
 '28977',
 '89251',
 '00223',
 '00027',
 '32581',
 '65995',
 '00321',
 '63068',
 '12378',
 '42120',
 '55239',
 '81065',
 '71813',
 '62768',
 '56044',
 '51403',
 '18025',
 '47593',
 '10375',
 '47938',
 '12003',
 '00292',
 '47429',
 '04402',
 '62687',
 '00312',
 '24404',
 '02230',
 '00163',
 '82894',
 '78133',
 '88315',
 '39529',
 '55415',
 '41026',
 '34096',
 '63312',
 '04281',
 '55365',
 '00139',
 '25804',
 '00280',
 '19130',
 '00025',
 '70409',
 '14884',
 '00324',
 '14189',
 '00055',
 '96099',
 '83943',
 '06681',
 '71872',
 '37607',
 '26511',
 '19322',
 '52147',
 '04461',
 '63429',
 '81472',
 '00001',
 '90872',
 '63091',
 '58993',
 '31229',
 '08021',
 '24491',
 '52678',
 '96349',
 '71417',
 '08072',
 '74394',
 '74523',
 '18041',
 '00624',
 '44018',
 '45485',
 '97484',
 '37914',
 '47810',
 '03421',
 '03649',
 '00108',
 '00052',
 '38614',
 '02825',
 '22804',
 '22722',
 '45736',
 '61486',
 '58196',
 '90604',
 '28348',
 '56821',
 '95301',
 '09529',
 '55873',
 '28731',
 '49215',
 '64520',
 '00233',
 '72486',
 '00277',
 '06436',
 '79322',
 '33791',
 '39537',
 '59476',
 '74369',
 '71921',
 '94758',
 '31133',
 '23214',
 '33081',
 '50624',
 '89195',
 '81724',
 '00288',
 '87029',
 '00348',
 '00216',
 '85879',
 '15737',
 '67450',
 '09072',
 '25331',
 '30660',
 '72169',
 '80317',
 '45668',
 '37732',
 '45680',
 '00123',
 '34322',
 '85702',
 '00081',
 '95127',
 '39079',
 '55354',
 '48368',
 '86133',
 '00024',
 '47146',
 '92042',
 '86407',
 '66708',
 '72938',
 '22542',
 '33237',
 '18008',
 '63951',
 '16022',
 '74861',
 '25923',
 '76486',
 '08370',
 '23416',
 '10534',
 '00298',
 '00276',
 '52209',
 '04405',
 '37826',
 '48069',
 '00268',
 '00082',
 '41042',
 '91125',
 '29118',
 '17132',
 '05113',
 '61087',
 '39103',
 '51205',
 '00235',
 '69566',
 '17790',
 '85094',
 '71970',
 '87468',
 '43791',
 '23338',
 '03080',
 '78960',
 '61552',
 '86601',
 '01762',
 '62491',
 '83377',
 '22455',
 '62261',
 '91438',
 '95193',
 '20395',
 '68768',
 '79028',
 '72225',
 '88459',
 '94558',
 '47950',
 '64503',
 '49596',
 '05151',
 '74378',
 '90154',
 '00211',
 '71503',
 '62941',
 '22824',
 '22692',
 '00153',
 '09343',
 '27484',
 '00194',
 '48956',
 '77994',
 '47858',
 '00317',
 '14360',
 '08777',
 '97016',
 '06924',
 '33664',
 '61182',
 '14037',
 '25721',
 '52013',
 '02897',
 '01403',
 '95291',
 '05974',
 '00582',
 '30283',
 '50580',
 '31283',
 '01850',
 '00114',
 '28062',
 '16372',
 '87315',
 '74345',
 '74335',
 '82582',
 '14255',
 '08602',
 '01088',
 '14387',
 '22244',
 '97281',
 '26957',
 '89290',
 '00134',
 '65953',
 '81529',
 '00266',
 '34317',
 '00115',
 '66062',
 '65664',
 '26604',
 '01428',
 '11215',
 '21010',
 '54932',
 '72451',
 '82777',
 '94279',
 '00941',
 '69091',
 '03558',
 '09006',
 '00180',
 '17184',
 '03617',
 '96670',
 '86483',
 '52921',
 '16112',
 '97770',
 '31086',
 '77249',
 '53188',
 '23630',
 '80336',
 '09820',
 '66473',
 '58814',
 '00316',
 '05069',
 '50276',
 '00151',
 '00208',
 '96730',
 '88377',
 '84375',
 '24846',
 '00008',
 '14505',
 '19855',
 '03523',
 '00176',
 '91209',
 '68162',
 '66386',
 '00118',
 '95927',
 '10120',
 '80734',
 '18331',
 '89576',
 '18524',
 '03535',
 '25179',
 '18890',
 '00291',
 '00400',
 '01183',
 '06223',
 '37408',
 '19699',
 '73419',
 '46520',
 '05047',
 '00167',
 '26477',
 '41182',
 '00158',
 '84494',
 '92962',
 '00138',
 '19875',
 '15046',
 '72330',
 '46732',
 '71805',
 '40035',
 '30481',
 '83449',
 '64211',
 '23186',
 '29417',
 '02878',
 '46333',
 '37915',
 '5799',
 '56051',
 '29379',
 '06268',
 '16848',
 '19237',
 '61591',
 '00191',
 '56004',
 '44502',
 '38778',
 '91402',
 '86588',
 '17974',
 '33219',
 '51795',
 '19737',
 '99734',
 '00343',
 '57066',
 '45884',
 '94087',
 '16754',
 '13361',
 '25083',
 '89470',
 '44201',
 '20606',
 '32666',
 '53089',
 '02471',
 '23796',
 '27802',
 '28010',
 '05374',
 '07331',
 '00050',
 '39593',
 '61813',
 '23675',
 '00273',
 '95668',
 '50144',
 '97913',
 '00910',
 '34705',
 '19756',
 '34210',
 '01594',
 '17415',
 '70054',
 '73251',
 '50756',
 '63837',
 '92415',
 '74747',
 '21955',
 '70957',
 '83777',
 '00132',
 '00253',
 '19852',
 '02263',
 '65075',
 '00545',
 '73233',
 '50284',
 '52922',
 '52665',
 '06790',
 '70490',
 '05091',
 '31322',
 '51235',
 '63767',
 '81197',
 '40059',
 '15930',
 '14835',
 '30431',
 '38305',
 '97290',
 '50911',
 '16174',
 '75519',
 '66191',
 '29796',
 '81057',
 '45593',
 '61265',
 '89329',
 '04193',
 '00023',
 '34791',
 '01312',
 '62962',
 '00159',
 '78731',
 '25593',
 '37216',
 '19411',
 '11522',
 '87541',
 '85433',
 '26459',
 '54538',
 '77509',
 '03831',
 '59226',
 '00226',
 '02547',
 '10691',
 '32999',
 '25403',
 '40533',
 '00308',
 '12023',
 '00200',
 '00296',
 '03308',
 '84005',
 '03562',
 '37091',
 '76096',
 '21860',
 '10348',
 '97057',
 '50332',
 '47354',
 '00016',
 '93020',
 '45701',
 '95935',
 '24563',
 '58668',
 '20304',
 '10905',
 '47844',
 '29485',
 '20827',
 '60688',
 '09259',
 '82211',
 '03169',
 '35139',
 '54974',
 '36481',
 '00036',
 '83662',
 '44812',
 '81570',
 '00162',
 '45752',
 '10105',
 '02862',
 '38522',
 '99250',
 '00037',
 '17536',
 '08011',
 '00182',
 '78231',
 '02693',
 '00047',
 '74964',
 '12044',
 '79066',
 '00781',
 '00755',
 '72483',
 '76819',
 '54544',
 '55911',
 '11361',
 '36692',
 '05063',
 '74414',
 '00318',
 '74069',
 '00217',
 '00271',
 '59128',
 '08971',
 '31577',
 '35888',
 '43868',
 '00299',
 '05272',
 '31762',
 '05211',
 '39965',
 '10264',
 '23012',
 '77978',
 '00269',
 '00966',
 '53151',
 '18733',
 '76386',
 '00040',
 '11891',
 '00083',
 '00302',
 '14771',
 '84768',
 '49268',
 '16725',
 '11165',
 '45787',
 '15678',
 '00263',
 '00285',
 '65388',
 '80067',
 '77587',
 '77384',
 '11007',
 '25071',
 '64199',
 '20847',
 '53510',
 '76851',
 '33553',
 '14914',
 '17769',
 '46767',
 '59144',
 '10460',
 '00185',
 '01009',
 '92648',
 '45783',
 '62241',
 '78486',
 '00252',
 '78901',
 '47122',
 '38463',
 '53330',
 '26469',
 '04854',
 '02396',
 '27678',
 '05358',
 '80364',
 '35512',
 '23554',
 '31982',
 '92545',
 '07166',
 '25781',
 '74951',
 '78334',
 '31143',
 '61044',
 '32622',
 '14767',
 '80481',
 '77862',
 '55659',
 '38727',
 '25221',
 '85753',
 '67241',
 '89681',
 '07556',
 '01068',
 '49387',
 '12413',
 '06855',
 '91645',
 '76642',
 '08741',
 '63564',
 '00345',
 '84187',
 '00042',
 '80463',
 '00304',
 '54468',
 '19903',
 '01467',
 '44902',
 '39802',
 '00303',
 '11177',
 '98551',
 '40577',
 '46662',
 '32891',
 '01408',
 ...}

In [40]:
type('RowKey')

str

In [45]:
drop_data['date'] = pd.to_datetime(drop_data['date'],format="%Y/%m/%d") # เปลี่ยน format ของข้อมูลวันที่ให้อยู่ในรูปแบบเดียวกัน
drop_data[['date']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

            date
0     2022-03-24
1     2022-02-23
2     2022-02-23
3     2022-02-25
4     2022-03-23
...          ...
38562 2022-02-23
38565 2022-02-23
38566 2022-02-23
38569 2022-03-24
38570 2022-03-31

[38284 rows x 1 columns]

In [46]:
type('Phone')

str

In [66]:
drop_data['time'] = pd.to_timedelta(drop_data['time'],format = %H:%M:%S) # เปลี่ยน format ของข้อมูลวันที่ให้อยู่ในรูปแบบเดียวกัน
drop_data[['time']]

SyntaxError: ignored