<a href="https://colab.research.google.com/github/kittimaxz/data_viz_2022/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# เตรียมข้อมูล

## นำเข้าข้อมูล

In [14]:
import pandas as pd # import ฟังก์ชัน pandasimport pandas as pd # import ฟังก์ชัน pandas

In [15]:
from google.colab import drive # เชื่อม drive ของเรา ถ้าเชื่อมสำเร็จจะขึ้นคำว่าMounted at /content/drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [16]:
import os # จัดการเกี่ยวกับไฟล์ต่างๆ ในโฟล์เดอร์

In [17]:
path = '/content/drive/My Drive/dataviz_2021_data' # ชี้ว่า data เราอยู่โฟล์เดอร์ไหน

### ข้อมูลโควิด ตั้งแต่วันที่ 12 มกราคม 2020 ถึง 11 สิงหาคม 2021

In [18]:
data_file_path1 = os.path.join(path,'confirmed-cases.csv') # เอาที่อยู่ของไฟล์เชื่อมกับที่อยู่ของไฟล์เรา
data_covid1 = pd.read_csv(data_file_path1)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [19]:
data_covid1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

### ข้อมูลโควิด ตั้งแต่วันที่ 12 สิงหาคม 2021 ถึง 25 ตุลาคม 2021

In [20]:
data_file_path2 = os.path.join(path,'confirmed-cases-since-120864.csv')
data_covid2 = pd.read_csv(data_file_path2)

In [21]:
data_covid2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

### ข้อมูลโควิด ตั้งแต่วันที่ 26 ตุลาคม 2021 ถึง 27 กุมภาพันธุ์ 2022

In [22]:
data_file_path3 = os.path.join(path,'confirmed-cases-since-271064.csv')
data_covid3 = pd.read_csv(data_file_path3)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [23]:
data_covid3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN

### ข้อมูลโควิด ตั้งแต่วันที่ 28 กุมภาพันธุ์ 2022 ถึง 12 มีนาคม 2022

In [24]:
data_file_path4 = os.path.join(path,'confirmed-cases-since-280265.csv')
data_covid4 = pd.read_csv(data_file_path4)

In [25]:
data_covid4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
291620,3161237,12/3/2022,11/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
291621,3161238,12/3/2022,11/3/2022,ชาย,NaN,NaN,Cambodian,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
291622,3161239,12/3/2022,11/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
291623,3161240,12/3/2022,11/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
291624,3161241,12/3/2022,11/3/2022,NaN,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

## ข้อมูลภูมิภาค

สร้างตารางภูมิภาค

In [28]:
# ใช้วิธี List(Row Oriented)
data =[['อำนาจเจริญ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['บึงกาฬ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['บุรีรัมย์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['ชัยภูมิ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['กาฬสินธุ์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['ขอนแก่น','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['เลย','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['มหาสารคาม','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['มุกดาหาร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['นครพนม','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['นครราชสีมา','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['หนองบัวลำภู','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['หนองคาย','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['ร้อยเอ็ด','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['สกลนคร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['ศรีสะเกษ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['สุรินทร์','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['อุบลราชธานี','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['อุดรธานี','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['ยโสธร','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ'],
            ['เชียงใหม่','เหนือ','เหนือ','เหนือ','เหนือ'],
            ['เชียงราย','เหนือ','เหนือ','เหนือ','เหนือ'],
            ['ลำปาง','เหนือ','เหนือ','เหนือ','เหนือ'],
            ['ลำพูน','เหนือ','เหนือ','เหนือ','เหนือ'],
            ['แม่ฮ่องสอน','เหนือ','เหนือ','เหนือ','เหนือ'],
            ['น่าน','เหนือ','เหนือ','เหนือ','เหนือ'],
            ['พะเยา','เหนือ','เหนือ','เหนือ','เหนือ'],
            ['แพร่','เหนือ','เหนือ','เหนือ','เหนือ'],
            ['อุตรดิตถ์','เหนือ','เหนือ','เหนือ','เหนือ'],
            ['ตาก','ตะวันตก','เหนือ','เหนือ','เหนือ'],
            ['สุโขทัย','กลาง','เหนือ','เหนือ','เหนือ'],
            ['พิษณุโลก','กลาง','เหนือ','เหนือ','เหนือ'],
            ['พิจิตร','กลาง','เหนือ','เหนือ','เหนือ'],
            ['กำแพงเพชร','กลาง','เหนือ','เหนือ','เหนือ'],
            ['เพชรบูรณ์','กลาง','เหนือ','เหนือ','เหนือ'],
            ['นครสวรรค์','กลาง','เหนือ','กลาง','เหนือ'],
            ['อุทัยธานี','กลาง','เหนือ','กลาง','เหนือ'],
            ['อ่างทอง','กลาง','กลาง','กลาง','กลาง'],
            ['ชัยนาท','กลาง','กลาง','กลาง','กลาง'],
            ['พระนครศรีอยุธยา','กลาง','กลาง','กลาง','กลาง'],
            ['กรุงเทพมหานคร','กลาง','กลาง','กลาง','กลาง'],
            ['ลพบุรี','กลาง','กลาง','กลาง','กลาง'],
            ['นครปฐม','กลาง','กลาง','กลาง','กลาง'],
            ['นนทบุรี','กลาง','กลาง','กลาง','กลาง'],
            ['ปทุมธานี','กลาง','กลาง','กลาง','กลาง'],
            ['สมุทรปราการ','กลาง','กลาง','กลาง','กลาง'],
            ['สมทรสาคร','กลาง','กลาง','กลาง','กลาง'],
            ['สมุทรสงคราม','กลาง','กลาง','กลาง','กลาง'],
            ['สระบุรี','กลาง','กลาง','กลาง','กลาง'],
            ['สิงห์บุรี','กลาง','กลาง','กลาง','กลาง'],
            ['สุพรรณบุรี','กลาง','กลาง','กลาง','กลาง'],
            ['นครนายก','กลาง','กลาง','ตะวันออก','กลาง'],
            ['ฉะเชิงเทรา','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
            ['จันทบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
            ['ชลบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
            ['ปราจีนบุรี','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
            ['ระยอง','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
            ['สระแก้ว','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
            ['ตราด','ตะวันออก','กลาง','ตะวันออก','ตะวันออก'],
            ['กาญจนบุรี','ตะวันตก','กลาง','กลาง','กลาง'],
            ['ราชบุรี','ตะวันตก','กลาง','กลาง','กลาง'],
            ['เพชรบุรี','ตะวันตก','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','กลาง'],
            ['ประจวบคีรีขันธ์','ตะวันตก','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','กลาง'],
            ['ชุมพร','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
            ['นครศรีธรรมราช','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
            ['นราธิวาส','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
            ['ปัตตานี','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
            ['พัทลุง','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
            ['สงขลา','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
            ['สุราษฎร์ธานี','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
            ['ยะลา','ใต้','ใต้','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้'],
            ['กระบี่','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
            ['พังงา','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
            ['ภูเก็ต','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
            ['ระนอง','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
            ['สตูล','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้'],
            ['ตรัง','ใต้','ใต้','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้']]
headers = ['จังหวัด','ภูมิศาสตร์','การเมือง','อุตุนิยมวิทยา','การท่องเที่ยว']

In [29]:
data_region= pd.DataFrame.from_records(data,columns=headers) # สร้าง dataframe
data_region

,จังหวัด,ภูมิศาสตร์,การเมือง,อุตุนิยมวิทยา,การท่องเที่ยว
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

วิธี Dictionary(column oriented) สร้างตัวเเปร data_mhc ขึ้นมา เเล้วกำหนดคอลัมน์ ได้เเก่ จังหวัด, เขตสุขภาพ

In [32]:
data_mhc = {'จังหวัด':['กรุงเทพมหานคร', 'เชียงใหม่','เชียงราย','แพร่', 'น่าน', 'พะเยา', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'ตาก', 'เพชรบูรณ์', 'พิษณุโลก', 'อุดรดิตถ์',
                       'สุโขทัย', 'กำแพงเพชร', 'พิจิตร', 'นครสวรรค์', 'ชัยนาท', 'อุทัยธานี', 'สระบุรี', 'นนทบุรี', 'ลพบุรี', 'อ่างทอง', 'นครนายก', 'สิงห์บุรี',
                       'พระนครศรีอยุธยา', 'ปทุมธานี', 'เพชรบุรี', 'สมุทรสาคร', 'สมุทรสงคราม', 'ประจวบคีรีขันธ์', 'สุพรรณบุรี', 'นครปฐม', 'ราชบุรี', 'กาญจนบุรี',
                       'กาญจนบุรี', 'สระแก้ว', 'ปราจีนบุรี', 'ฉะเชิงเทรา', 'สมุทรปราการ', 'ชลบุรี', 'จันทบุรี', 'ระยอง', 'ตราด', 'กาฬสินธุ์', 'ขอนแก่น', 'มหาสารคาม',
                       'ร้อยเอ็ด', 'อุดรธานี', 'สกลนคร', 'นครพนม', 'เลย', 'หนองคาย', 'หนองบัวลำภู', 'บึงกาฬ', 'ชัยภูมิ', 'นครราชสีมา', 'บุรีรัมย์', 'สุรินทร์',
                       'อุบลราชธานี', 'ศรีสะเกษ', 'มุกดาหาร', 'อำนาจเจริญ', 'นครศรีธรรมราช', 'สุราษฎร์ธานี', 'ภูเก็ต', 'กระบี่', 'พังงา', 'ระยอง', 'ชุมพร',
                       'สงขลา', 'สตูล', 'ตรัง', 'พัทลุง', 'ปัตตานี', 'ยะลา', 'นราธิวาส'],
            'เขตสุขภาพ':['เขตสุขภาพส่วนกลาง', 'เขตสุขภาพที่ 1', 'เขตสุขภาพที่ 1', 'เขตสุขภาพที่ 1', 'เขตสุขภาพที่ 1', 'เขตสุขภาพที่ 1', 'เขตสุขภาพที่ 1', 'เขตสุขภาพที่ 1', 'เขตสุขภาพที่ 1', 'เขตสุขภาพที่ 1',
                         'เขตสุขภาพที่ 2','เขตสุขภาพที่ 2','เขตสุขภาพที่ 2','เขตสุขภาพที่ 2','เขตสุขภาพที่ 2','เขตสุขภาพที่ 3','เขตสุขภาพที่ 3','เขตสุขภาพที่ 3','เขตสุขภาพที่ 3','เขตสุขภาพที่ 3',
                         'เขตสุขภาพที่ 4','เขตสุขภาพที่ 4','เขตสุขภาพที่ 4','เขตสุขภาพที่ 4','เขตสุขภาพที่ 4','เขตสุขภาพที่ 4','เขตสุขภาพที่ 4','เขตสุขภาพที่ 4','เขตสุขภาพที่ 5','เขตสุขภาพที่ 5',
                         'เขตสุขภาพที่ 5','เขตสุขภาพที่ 5','เขตสุขภาพที่ 5','เขตสุขภาพที่ 5','เขตสุขภาพที่ 5','เขตสุขภาพที่ 5','เขตสุขภาพที่ 6','เขตสุขภาพที่ 6','เขตสุขภาพที่ 6','เขตสุขภาพที่ 6',
                         'เขตสุขภาพที่ 6','เขตสุขภาพที่ 6','เขตสุขภาพที่ 6','เขตสุขภาพที่ 6','เขตสุขภาพที่ 7','เขตสุขภาพที่ 7','เขตสุขภาพที่ 7','เขตสุขภาพที่ 7','เขตสุขภาพที่ 8','เขตสุขภาพที่ 8',
                         'เขตสุขภาพที่ 8','เขตสุขภาพที่ 8','เขตสุขภาพที่ 8','เขตสุขภาพที่ 8','เขตสุขภาพที่ 8','เขตสุขภาพที่ 9','เขตสุขภาพที่ 9','เขตสุขภาพที่ 9','เขตสุขภาพที่ 9','เขตสุขภาพที่ 10',
                         'เขตสุขภาพที่ 10','เขตสุขภาพที่ 10','เขตสุขภาพที่ 10','เขตสุขภาพที่ 11','เขตสุขภาพที่ 11','เขตสุขภาพที่ 11','เขตสุขภาพที่ 11','เขตสุขภาพที่ 11','เขตสุขภาพที่ 11','เขตสุขภาพที่ 11',
                         'เขตสุขภาพที่ 12','เขตสุขภาพที่ 12','เขตสุขภาพที่ 12','เขตสุขภาพที่ 12','เขตสุขภาพที่ 12','เขตสุขภาพที่ 12','เขตสุขภาพที่ 12']}

In [33]:
data_mentalhealth= pd.DataFrame.from_dict(data_mhc)  # สร้างตาราง pandas จาก data_mhc 
data_mentalhealth #เเสดงข้อมูลในตารางทั้งหมด

          จังหวัด          เขตสุขภาพ
0   กรุงเทพมหานคร  เขตสุขภาพส่วนกลาง
1       เชียงใหม่     เขตสุขภาพที่ 1
2        เชียงราย     เขตสุขภาพที่ 1
3            แพร่     เขตสุขภาพที่ 1
4            น่าน     เขตสุขภาพที่ 1
..            ...                ...
72           ตรัง    เขตสุขภาพที่ 12
73         พัทลุง    เขตสุขภาพที่ 12
74        ปัตตานี    เขตสุขภาพที่ 12
75           ยะลา    เขตสุขภาพที่ 12
76       นราธิวาส    เขตสุขภาพที่ 12

[77 rows x 2 columns]

***รวมข้อมูล covid ให้อยู่ในตารางเดียวกัน***

แต่เนื่องจากว่าในตาราง data_covid2 นั้นมีตารางที่เกินมาจากตารางอื่น ๆ จึงทำการตัดตารางที่เกินมาทิ้งไปก่อน

In [26]:
data_covid = pd.concat([data_covid1,data_covid2,data_covid3,data_covid4])
data_covid

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
291620,3161237,12/3/2022,11/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
291621,3161238,12/3/2022,11/3/2022,ชาย,NaN,NaN,Cambodian,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
291622,3161239,12/3/2022,11/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
291623,3161240,12/3/2022,11/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
291624,3161241,12/3/2022,11/3/2022,NaN,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

## จัดการค่า Missing

In [27]:
data_covid.isnull().any()

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

## จัดการค่า Missing ของ sex โดยจะแทนโดยค่า Mode

In [37]:
set(data_covid['sex'])

{nan,
 '\xa0หญิง',
 'ช',
 'ชาย',
 'ญ',
 'นาย',
 'ร.ต.ท.',
 'หญง',
 'หญิง',
 'หญิิง',
 'หณิง',
 'หห'}

In [39]:
data_covid['sex'].mode() # หาค่า mode ของ sex

0    หญิง
dtype: object

In [52]:
data_covid[['sex']] = data_covid[['sex']].fillna(value={'sex':'หญิง'}) # แทนค่า mode ในค่า missing
data_covid[['sex']]

         sex
0       หญิง
1       หญิง
2       หญิง
3        ชาย
4       หญิง
...      ...
291620  หญิง
291621   ชาย
291622  หญิง
291623  หญิง
291624  หญิง

[3184023 rows x 1 columns]

In [53]:
# แก้ข้อมูลที่ผิดให้อยู่ในรูปแบบเดียวกัน
data_covid['sex'].replace({'\xa0หญิง':'หญิง',
                            'ช':'ชาย',
                            'ญ':'หญิง',
                            'นาย':'ชาย',
                            'ร.ต.ท.':'ชาย',
                            'หญง':'หญิง',
                            'หญิิง':'หญิง',
                            'หณิง':'หญิง',
                            'หห':'หญิง'}, inplace=True)

In [54]:
set(data_covid['sex'])

{'ชาย', 'หญิง'}

In [55]:
data_covid['sex'].isnull().any()

False

## จัดการค่า Missing ของ risk โดยจะแทนโดย ไม่ระบุ

In [60]:
data_covid[['risk']] = data_covid[['risk']].fillna(value={'risk':'ไม่ระบุ'}) # แทนค่า mode ในค่า missing
data_covid[['risk']]

                                    risk
0       คนต่างชาติเดินทางมาจากต่างประเทศ
1       คนต่างชาติเดินทางมาจากต่างประเทศ
2       คนต่างชาติเดินทางมาจากต่างประเทศ
3       คนต่างชาติเดินทางมาจากต่างประเทศ
4       คนต่างชาติเดินทางมาจากต่างประเทศ
...                                  ...
291620                  ทัณฑสถาน/เรือนจำ
291621                  ทัณฑสถาน/เรือนจำ
291622                  ทัณฑสถาน/เรือนจำ
291623                  ทัณฑสถาน/เรือนจำ
291624                  ทัณฑสถาน/เรือนจำ

[3184023 rows x 1 columns]

In [61]:
set(data_covid['risk'])

{' Samui plus',
 '10.อื่นๆ',
 '2.สัมผัสผู้ติดเชื้อ',
 '8.สำรวจกลุ่มเสี่ยง (survey)',
 '9.ขอตรวจหาเชื้อเอง',
 'ACF รองเมือง',
 'ACF สนามกีฬาธูปะเตมีย์',
 'ACF สนามกีฬาไทย-ญี่ปุ่น',
 'ACF สีลม',
 'ACF เคหะหลักสี่',
 'BKK Sandbox',
 'Chonburi Sandbox',
 'Cluster Icon siam',
 "Cluster Memory 90's กรุงเทพมหานคร",
 'Cluster New Jazz กรุงเทพมหานคร',
 'Cluster The Lounge Salaya',
 'Cluster คลองเตย',
 'Cluster งานมอเตอร์ โชว์',
 'Cluster จนท. สนามบินสุวรรณภูมิ',
 'Cluster จันทบุรี',
 'Cluster จันทบุรี (ชาวกินี )',
 'Cluster จันทบุรี (ชาวกินี)',
 'Cluster ชลบุรี',
 'Cluster ชลบุรี บริษัทไดกิ้น',
 'Cluster ชลบุรี โรงเบียร์ 90',
 'Cluster ตราด',
 'Cluster ตราด ',
 'Cluster ตลาดนนทบุรี',
 'Cluster ตลาดบางพลี',
 'Cluster ตลาดบางแค',
 'Cluster ตลาดพรพัฒน์',
 'Cluster ตลาดสี่มุมเมือง',
 'Cluster บริษัทศรีสวัสดิ์',
 'Cluster บางแค',
 'Cluster บ่อนพัทยา/ชลบุรี',
 'Cluster บ่อนเทพารักษ์',
 'Cluster บ่อนไก่อ่างทอง',
 'Cluster ปากช่อง',
 'Cluster ผับ Thonglor',
 'Cluster มหาสารคาม',
 'Cluster ระยอง',
 'Cluster สถานบันเทิงย่านทองหล่อ',
 'Cluster สมุทรปราการ (โรงงาน บริษัทเมทัล โปรดักส์)',
 'Cluster สมุทรปราการ GRP Hightech',
 'Cluster สมุทรปราการ ตลาดเคหะบางพลี',
 'Cluster สมุทรสาคร',
 'Cluster ห้างแสงทอง (สายล่าง)',
 'Cluster เครือคัสเซ่อร์พีคโฮลดิ้ง (CPG,CPH)',
 'Cluster โรงงาน Big Star',
 'Cluster โรงงาน QPP ประจวบฯ',
 'Cluster โรงงาน standard can',
 'Cluster โรงงานทำขนม บางขุนเทียน',
 'Karbi Sandbox',
 'Krabi Sandbox',
 'Krabi Sandbox ',
 'Krabi sandbox ',
 'Narathiwat Sandbox',
 'Phang Nga Sandbox',
 'Phang nga Sandbox',
 'Phangnga Sandbox',
 'Phare Sandbox',
 'Phrae Sandbox',
 'Phuket Sandbox',
 'Phunga Sandbox',
 'Prachuap Sandbox',
 'Rayong Sandbox',
 'SHUI',
 'Samui Plus',
 'Samui plus',
 'Samut Prakan Sandbox',
 'Sandbox',
 'Songkhla Sandbok',
 'State Quarantine',
 'Surin Sandbox',
 'Test and Go',
 'Trat Sandbox',
 'Trat sandbox',
 'Udon Sandbox',
 'cluster ชลบุรี\n(อยู่ระหว่างการสอบสวน)',
 'prachuap Sandbox',
 'กลับมาจาก จ.กรุงเทพมหานคร.',
 'การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน',
 'คนต่างชาติเดินทางมาจากต่างประเทศ',
 'คนไทยมาจากพื้นที่เสี่ยง',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คนไทยเดินทางมาจากต่างประเทศ',
 'ค้นหาเชิงรุก',
 'ตรวจก่อนทำหัตถการ',
 'ตรวจก่อนทำหัถตการ',
 'ตรวจสุขภาพแรงงานต่างด้าว',
 'ตลาด',
 'ติดเชื้อในพื้นที่ (สัมผัส ผป.ยืนยัน)',
 'ทัณฑสถาน/เรือนจำ',
 'นักกีฬา',
 'บุคลากรด้านการแพทย์และสาธารณสุข',
 'บุคลากรทางการเเพทย์',
 'ปอดอักเสบ (Pneumonia)',
 'ปอดอักเสบ Pneumonia',
 'ปอดอักเสบ(Pneumonia)',
 'ผับหัวหิน',
 'ผู้ติดเชื้อในประเทศ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AOQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า HQ/AHQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า OQ',
 'ผู้ป่วย PUI',
 'ผู้ป่วย กรุงเทพมหานคร',
 'ผู้เดินทางมาจากพื้นที่เสี่ยง กรุงเทพมหานคร',
 'พิธีกรรมทางศาสนา',
 'พื้นที่เสียง',
 'มาจากพื้นที่เสียง จ.ปทุมธานี',
 'มาจากพื้นที่เสี่ยง',
 'มาจากพื้นที่เสี่ยง จ.ปทุมธานี',
 'มีอาการ มาจาก กรุงเทพมหานคร. พนักงานร้านอาหาร',
 'รอประสาน',
 'ระบุไม่ได้',
 'ระหว่างการสอบสวนโรค',
 'ระหว่างสอบสวน',
 'รับจ้างขนของที่ตลาดท่ายาง',
 'ร่วมงานศพในหมู่บ้านทุกวัน',
 'ร้านอาหาร',
 'ศูนย์กักกัน ผู้ต้องกัก',
 'สถานที่ทำงาน',
 'สถานบันเทิง',
 'สถานประกอบการ',
 'สถานศึกษา',
 'สน.วัดพระยาไกร',
 'สนามมวย',
 'สัมผัสผู้ติดเชื้อยืนยัน\n  อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ติดเชื้อยืนยัน\nอยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยที่ติดโควิด',
 'สัมผัสผู้ป่วยยืนยัน',
 'สัมผัสผู้ป่วยยืนยัน \n  อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยยืนยัน (ยังไม่สามารถระบุได้)',
 'สัมผัสผู้ป่วยยืนยัน ภายในครอบครัว/ชุมชน/เพื่อน',
 'สัมผัสผู้ป่วยยืนยัน อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยยืนยันภายในชุมชน',
 'สัมผัสผู้ป่วยยืนยันเพื่อนร่วมงาน',
 'สัมผัสผู้เดินทางจากต่างประเทศ',
 'สัมผัสสามีสะอาด เขตบ้าน (รพ.มหาชัย 2)',
 'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้',
 'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้ใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้',
 'สัมผัสใกล้ชิดผู้ป่วยยันยันก่อนหน้า',
 'สัมผัสใกล้ชิดผู้ป่วยยืนยันก่อนหน้า',
 'สัมผัสในสถานพยาบาล',
 'อยู่ระหว่างการสอบสวน',
 'อยู่ระหว่างการสอบสวน\n',
 'อยู่ระหว่างสอบสวน',
 'อยู่ระหว่างสอบสวนโรค',
 'อาชีพเสี่ยง',
 'อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงานใกล้ชิดสัมผัสชาวต่างชาติ เป็นต้น',
 'อิ่นๆ',
 'อื่น',
 'อื่น ๆ',
 'อื่นๆ',
 'เดินทางจากพื้นที่เสี่ยง',
 'เดินทางมาจากพื้นที่จังหวัดเสี่ยง',
 'เดินทางมาจากพื้นที่มีการระบาดของโรค',
 'เดินทางมาจากพื้นที่ระบาด',
 'เดินทางมาจากพื้นที่เสี่ยง จ.กรุงเทพฯ จอมทอง',
 'เดินทางมาจากพื้นที่เสี่ยงที่มีการระบาดของโรค',
 'เพื่อเฝ้าระวังเชื้อกลายพันธุ์',
 'แรงงานต่างด้าวตรวจก่อนขึ้นทะเบียน',
 'ในพื้นที่',
 'ไปยัง/มาจาก พื้นที่ระบาดกรุงเทพมหานคร',
 'ไปยังพื้นที่ที่มีการระบาด',
 'ไปสถานที่ชุมชน',
 'ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว',
 'ไปสถานที่เสี่ยง เช่น ตลาด สถานที่ชุมชน',
 'ไปสถานที่แออัด เช่น งานแฟร์ คอนเสิร์ต',
 'ไปเที่ยวสถานบันเทิงในอุบลที่พบการระบาดของโรค Ubar',
 'ไปแหล่งชุมชน/สถานที่คนหนาแน่น',
 'ไม่ระบุ'}

In [ ]:
# แก้ข้อมูลที่ผิดให้อยู่ในรูปแบบเดียวกัน
data_covid['risk'].replace({' Samui plus':'Samui Plus',
                            '10.อื่นๆ':'อื่นๆ',
                            '2.สัมผัสผู้ติดเชื้อ':'สัมผัสผู้ติดเชื้อ',
                            '8.สำรวจกลุ่มเสี่ยง (survey)':'กลุ่มเสี่ยง',
                            '9.ขอตรวจหาเชื้อเอง':'ขอตรวจหาเชื้อเอง',
                            'Cluster จันทบุรี (ชาวกินี )':'Cluster จันทบุรี (ชาวกินี)',
                            'Cluster ตราด ':'Cluster ตราด',
                            'Karbi Sandbox':'Krabi Sandbox',
                            'Krabi Sandbox ':'Krabi Sandbox',
                            'Krabi sandbox ':'Krabi Sandbox',
                            'Phang nga Sandbox':'Phang Nga Sandbox',
                            'Phangnga Sandbox':'Phang Nga Sandbox',
                            'Phare Sandbox':'Phrae Sandbox',
                            'Phunga Sandbox':'Phung Nga Sandbox',
                            'SHUI':'อื่นๆ',
                            'Samui plus':'Samui Plus',
                            'cluster ชลบุรี\n(อยู่ระหว่างการสอบสวน)':'cluster ชลบุรี',
                            'prachuap Sandbox':'Prachuap Sandbox',
                            'กลับมาจาก จ.กรุงเทพมหานคร.':'เดินทางจากพื้นที่เสี่ยง',
                            'คนไทยมาจากพื้นที่เสี่ยง':'เดินทางจากพื้นที่เสี่ยง',
                            'คนต่างชาติเดินทางมาจากต่างประเทศ':'ผู้ที่เดินทางมาจากต่างประเทศ',
                            'คนไทยเดินทางกลับจากต่างประเทศ':'ผู้ที่เดินทางมาจากต่างประเทศ',
                            'คนไทยเดินทางมาจากต่างประเทศ':'ผู้ที่เดินทางมาจากต่างประเทศ',
                            'ติดเชื้อในพื้นที่ (สัมผัส ผป.ยืนยัน)':'พื้นที่เสียง',
                            '':'',

}, inplace=True)

In [62]:
set(data_covid['province_of_onset'])

{'\tประจวบคีรีขันธ์',
 'USA',
 nan,
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กทม.',
 'กบินทร์บุรี',
 'กระบี่',
 'กระบี่ี่',
 'กรุงเทพ',
 'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา',
 'กรุงเทพมหานคร. / ศรีสะเกษ',
 'กรุงเทพฯ',
 'กะทู้',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาญจบุรี',
 'กาญนบุรี',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธุ์\xa0',
 'กาฬสินธ์',
 'กำเพงเพชร',
 'กำแพง',
 'กำแพงเพชร',
 'กำแพงเพชร\xa0',
 'กําแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'ขอนแก่่น',
 'ขัยนาท',
 'ขัยภูมิ',
 'ขานุวรลักษณ์บุรี',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คลองเตย',
 'จ.กรุงเทพมหานคร',
 'จ.ภูเก็ต',
 'จ.ราชบุรี',
 'จ.สุราษฎร์ธานี',
 'จังหวัดสมุทรสาคร',
 'จันทบุรี',
 'ฉะเชองเทราร',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุรี\xa0',
 'ชลบุุรี',
 'ชอนแก่น',
 'ชัยนาถ',
 'ชัยนาท',
 'ชัยบาดาล',
 'ชัยภูมิ',
 'ชัยภูมิ\xa0',
 'ชุมพร',
 'ชุุมพร',
 'ชุุุมพร',
 'ดอนมดแดง',
 'ดินแดง',
 'ตรัง',
 'ตรััง',
 'ตราด',
 'ตราด\xa0',
 'ตาก',
 'ตากใบ',
 'ต่างจังหวัด',
 'ทุ่งเสลี่ยม',
 'ท้ายบ้าน',
 'ธารโต',
 'นคนปฐม',
 'นคปฐม',
 'นครนปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปฐม\xa0',
 'นครปบม',
 'นครพนม',
 'นครพนม\xa0',
 'นครยายก',
 'นครราขสีมา',
 'นครราชธานี',
 'นครราชศรีมา',
 'นครราชสสีมา',
 'นครราชสีมา',
 'นครราชสีมา\xa0',
 'นครศรธรรมราช',
 'นครศรี',
 'นครศรีธรมราช',
 'นครศรีธรรมราข',
 'นครศรีธรรมราช',
 'นครศรีฯ',
 'นครศรีีธรรมราช',
 'นครศร๊ธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสรรค์',
 'นครสวรรค',
 'นครสวรรค์',
 'นครสวรรค์\xa0',
 'นครสีธรรมราช',
 'นครฯ',
 'นครีศรีธรรมราช',
 'นตรนายก',
 'นตรปฐม',
 'นนทบุรี',
 'นนทบุรี\xa0',
 'นนทุบรี',
 'นนทุรี',
 'นนมบุรี',
 'นรศรีธรรมราช',
 'นราธิวาส',
 'นราธิวาส\u200b',
 'นราธฺวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'น่าน/ฉะเชิงเทรา',
 'บางกะปิ',
 'บางนา',
 'บางปะอิน',
 'บางละมุง',
 'บางเพียง',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมภ์',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรัยม์',
 'บุรีรีมย์',
 'บ้านหลวง',
 'ปจ',
 'ปทุทธานี',
 'ปทุมฑานี',
 'ปทุมทานี',
 'ปทุมธาน',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานี\xa0',
 'ปทุมธานีี',
 'ปทุมาธานี',
 'ปทุุมธานี',
 'ปธุมธานี',
 'ปมุมธานี',
 'ประจวนคีรีขันธ็',
 'ประจวบ',
 'ประจวบคิรีขันธ์',
 'ประจวบคีรขันธ์',
 'ประจวบคีรขัันธ์',
 'ประจวบคีรีขัน',
 'ประจวบคีรีขันธื',
 'ประจวบคีรีขันธฺ',
 'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0',
 'ประจวบคีรีขันธ์์',
 'ประจวบคีรีขัันธ์',
 'ประจวบคีีรีขันธ์',
 'ประจวบฯ',
 'ประทุมธานี',
 'ประเทศกัมพูชา',
 'ปราจีนบุรี',
 'ปราจีบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปอยเปต',
 'ปัตตนรี',
 'ปัตตานนี',
 'ปัตตานี',
 'ปัตตานีี',
 'ปัตาตานี',
 'ปัว',
 'ปััตตานี',
 'ปุทมธานี',
 'ป่าโมก',
 'พม่า',
 'พรหมพิราม',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุทยา',
 'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา\xa0',
 'พะเยา',
 'พังงา',
 'พัทยา',
 'พัทลุง',
 'พัทลุุง',
 'พัังงา',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณุโลก\xa0',
 'พิษณูโลก',
 'ฟินแลนด์',
 'ภาษีเจริญ',
 'ภุเก็ต',
 'ภูุเก็ต',
 'ภููเก็ต',
 'ภูเก็ต',
 'ภูเก็็ต',
 'ภูเพียง',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'มุกาดหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ร.จ.จ.นราธิวาส',
 'ระนอง',
 'ระบุ',
 'ระยอง',
 'ระยอง\xa0',
 'ระอยง',
 'ราชบบุรี',
 'ราชบุรี',
 'ราชบุรีี',
 'ราชบุรี\u200b',
 'ราชุรี',
 'ราชเทวี',
 'ร้องกวาง',
 'ร้อยเอ็ด',
 'ลบุรี',
 'ลพบุรี',
 'ลพบุรี.',
 'ลพบุรี\xa0',
 'ลอง',
 'ลาดกระบัง',
 'ลาดพร้าว',
 'ลาว',
 'ลำปาง',
 'ลำพูน',
 'ลำพูน\u200b',
 'ลำพููน',
 'ลำลูกกา',
 'วังชิ้น',
 'วังทอง',
 'วิเศษชัยชาญ',
 'ศรีษะสะเกษ',
 'ศรีษะเกษ',
 'ศรีสระเกษ',
 'ศรีสะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สครสวรรค์',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สพรรณบุรี',
 'สมถทรปราการ',
 'สมทรสงคราม',
 'สมทรสาคร',
 'สมุครปราการ',
 'สมุครสาคร',
 'สมุท',
 'สมุทปราการ',
 'สมุทรปรากร',
 'สมุทรปรากรร',
 'สมุทรปรากา',
 'สมุทรปราการ',
 'สมุทรปราการ\xa0',
 'สมุทรศาคร',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทรสาคร\xa0',
 'สมุทรสาคา',
 'สมุทรสาคาร',
 'สมุทรสาทร',
 'สมุทรสารคร',
 'สมุทราปราการ',
 'สมุทราสาคร',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุย',
 'สมุุทรปราการ',
 'สมุุทรสงคราม',
 'สมุุทรสาคร',
 'สระก้ว',
 'สระบุรี',
 'สระบุรี\xa0',
 'สระแก้ว',
 'สรินทร์',
 'สวิสเซอร์แลนด์',
 'สอง',
 'สองแคว',
 'สะพานสูง',
 'สะแก้ว',
 'สัตหีบ',
 'สัมผัสผู้ป่วยยืนยัน COVID20',
 'สามุทรสาคร',
 'สารคาม',
 'สารภี',
 'สิงห์บุรี',
 'สิงห์บุรี\xa0',
 'สุทรปราการ',
 'สุพรรญบุรี',
 'สุพรรณบุรั',
 'สุพรรณบุรี',
 'สุพรรณบุรี\xa0',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุระบุรี',
 'สุราษ',
 'สุราษฎณ์ธานี',
 'สุราษฎธานี',
 'สุราษฎร์',
 'สุราษฎร์ธานี',
 'สุราษฎร์ฯ',
 'สุราษฎร์์ธานี',
 'สุราษฎ์ธานี',
 'สุราษฏร์ธานี',
 'สุราษธานี',
 'สุราษร์ฎธานี',
 'สุราษร์ธานี',
 'สุราษฯ',
 'สุรินทรื',
 'สุรินทร์',
 'สุรินทร์ 32150',
 'สุรินทร์,รีสะเกษ',
 'สุรินทร์\xa0',
 'สุริมทร์',
 'สุริะแก้ว',
 'สุวรรณภูมิ',
 'สุุพรรณบุรี',
 'สุุราษฎร์ธานี',
 'สุุราษฏร์ธานี',
 'สุุราษฯ',
 'สุุรินทร์',
 'สุุุโขทัย',
 'สุโขทัย',
 'สุโขทัย\xa0',
 'สูงเม่น',
 'หนวงบัวลำภู',
 'หนองคาย',
 'หนองงคาย',
 'หนองบัวภู',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'หนองบัวลําภู',
 'หนองบััวลำภู',
 'หนองม่วงไข่',
 'หนอบัวลำภู',
 'หัวหิน',
 'ห้วยขวาง',
 'อยุทธยา',
 'อยุธยา',
 'อยุุธยา',
 'อำนาจเจริญ',
 'อำนาจเจิญ',
 'อำนาญเจริญ',
 'อำนาเจริญ',
 'อิสราเอล',
 'อุดธานี',
 'อุดร',
 'อุดรธาณี',
 'อุดรธานี',
 'อุดรธานี\xa0',
 'อุดรธานีี',
 'อุดรราชธานี',
 'อุตรดิตถ์',
 'อุตรดิตถ์\xa0',
 'อุตรดิตถ์์',
 'อุตรดิษถ์',
 'อุตรดิิตถ์',
 'อุตรติดถ์',
 'อุทัยธานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุบลราชธานี\xa0',
 'อุุครดิตถ์',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อุุบลราชธานี',
 'อ่งทอง',
 'อ่างทอง',
 'อ่างทอง\xa0',
 'อํานาจเจริญ',
 'เชิงเทรา',
 'เชียงราย',
 'เชียงใหม่',
 'เชีียงราย',
 'เชีียงใหม่',
 'เด่นชัย',
 'เพขรบุรี',
 'เพขรบูรณื',
 'เพขรบูรณ์',
 'เพชรบุรณ์',
 'เพชรบุรี',
 'เพชรบุรึ',
 'เพชรบุุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เพชรบูรณ์\xa0',
 'เพชรบูร์',
 'เพชรบููรณ์',
 'เมือง',
 'เมืองตาก',
 'เมืองน่าน',
 'เมืองปัตตานี',
 'เรือ',
 'เลย',
 'เลย\xa0',
 'เวียงจันทร์',
 'เวียงสา',
 'แพร่',
 'แม่ทะ',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'โพธิ์ทอง',
 'ไชโย',
 'ไม่มีชื่อหอพัก',
 'ไม่ระบุ'}

In [ ]:
# แก้ข้อมูลที่ผิดให้อยู่ในรูปแบบเดียวกัน
data_covid['province_of_onset'].replace({'กระบี่ี่':'กระบี่',
                            'กรุงเทพมหานคร.':'กรุงเทพมหานคร',
                            'กัมพูชา':'ไม่ระบุ',
                            'กาญจบุรี':'กาญจนบุรี',
                            'กาฬสินธ์':'กาฬสินธุ์',
                            'กำแพงเพชร\xa0':'กำแพงเพชร',
                            'ขานุวรลักษณ์บุรี':'กำแพงเพชร',
                            'คลองเตย':'กรุงเทพมหานคร',
                            'จ.สุราษฎร์ธานี':'สุราษฎร์ธานี',
                            'จังหวัดสมุทรสาคร':'สมุทรสาคร',
                            'ชลบุรี\xa0':'ชลบุรี',
                            'ชอนแก่น':'ขอนแก่น',
                            'ชัยบาดาล':'ลพบุรี',
                            'ตรััง':'ตรัง',
                            'ตราด\xa0':'ตราด',
                            'ต่างจังหวัด':'ไม่ระบุ',
                            'นครปฐม\xa0':'นครปฐม',
                            'นครยายก':'นครนายก',
                            'นครราชธานี':'นครราชสีมา',
                            'นครราชศรีมา':'นครราชสีมา',
                            'นครราชสีมา\xa0':'นครราชสีมา',
                            'นครศรีธรมราช':'นครศรีธรรมราช',
                            'นครศรีฯ':'นครศรีธรรมราช',
                            'นครศรีีธรรมราช':'นครศรีธรรมราช',
                            'นครสวรรค':'นครสวรรค์',
                            'นครสวรรค์\xa0':'นครสวรรค์',
                            'นนมบุรี':'นนทบุรี',
                            'นอกเขต':'ไม่ระบุ',
                            'น่าน/ฉะเชิงเทรา':'ไม่ระบุ',
                            'บุรีรัมย์\xa0':'บุรีรัมย์',
                            'บุรีรีมย์':'บุรีรัมย์',
                            'ปทุทธานี':'ปทุมธานี',
                            'ปทุมธานี\xa0':'ปทุมธานี',
                            'ปทุุมธานี':'ปทุมธานี',
                            'ปธุมธานี':'ปทุมธานี',
                            'ประทุมธานี':'ปทุมธานี',
                            'ปัตตนรี':'ปัตตานี',
                            'พระนครศรีอยุทยา':'พระนครศรีอยุธยา',
                            'พัทลุุง':'พัทลุง',
                            'พัังงา':'พังงา',
                            'พิษณุโลก\xa0':'พิษณุโลก',
                            'ภููเก็ต':'ภูเก็ต',
                            'มุกาดหาร':'มุกดาหาร',
                            'ระบุ':'ไม่ระบุ',
                            'ลพบุรี\xa0':'ลพบุรี',
                            'ลาว':'ไม่ระบุ',
                            'ลำพูน\u200b':'ลำพูน',
                            'ศรีษะสะเกษ':'ศรีสะเกษ',
                            'ศรีษะเกษ':'ศรีสะเกษ',
                            'ศรีสระเกษ':'ศรีสะเกษ',
                            'สมุทรปราการ\xa0':'สมุทรปราการ',
                            'สมุทสาคร':'สมุทรสาคร',
                            'สมุุทรสงคราม':'สมุทรสงคราม',
                            'สะพานสูง':'กรุงเทพมหานคร',
                            'สารคาม':'มหาสารคาม',
                            'สุพรรณบุรั':'สุพรรณบุรี',
                            'สุราษ':'สุราษฎร์ธานี',
                            'สุราษฎณ์ธานี':'สุราษฎร์ธานี',
                            'สุราษฏร์ธานี':'สุราษฎร์ธานี',
                            'สุราษธานี':'สุราษฎร์ธานี',
                            'สุราษฯ':'สุราษฎร์ธานี',
                            'สุโขทัย\xa0':'สุโขทัย',
                            'หนองบัวภู':'หนองบัวลำภู',
                            'หนองบัวลำพูน':'หนองบัวลำภู',
                            'อยุทธยา':'พระนครศรีอยุธยา',
                            'อยุธยา':'พระนครศรีอยุธยา',
                            'อุดรธานี\xa0':'อุดรธานี',
                            'อุตรดิตถ์์':'อุตรดิตถ์',
                            'อุตรดิษถ์':'อุตรดิตถ์',
                            'อุบลราชธานี\xa0':'อุบลราชธานี',
                            'อุุบลราชธานี':'อุบลราชธานี',
                            'เชิงเทรา':'ฉะเชิงเทรา',
                            'เพขรบูรณื':'เพชรบูรณ์',
                            'เพขรบูรณ์':'เพชรบูรณ์',
                            'เพชรบูรณ์\xa0':'เพชรบูรณ์',
                            'เพชรบูร์':'เพชรบูรณ์'}, inplace=True)